<button [print]="['print-section', config2]" class="btn btn-main-2 mb-2">Print table</button>



            <div class="container justify-content-start p-5">
              <div id="print-section" class="container shadow bg-white p-3 mx-5 justify-content-center">
          
                <div class="row">
                    <div class="col-8 text-justify ">
                        <div class="container- justify-content-center py-2  mb-5" >
                            <h1 class="justify-content-center px-3">KOTOR A. <span style="color: #e12454;">VICTOR</span></h1>
                            <h6 class="px-3 justify-content-center">COMMUNICATION /MARKETING</h6>
          
                        </div>
                        <div class="resume_right   mx-0 mb-4" style="width: 100%;" >
                            <div class="container  py-2 " >
                               
                                <div class="row">
                                    <div class="col-1">
                                        <ul class="justify-content-center" style=" list-style:none; width: 30px; height: auto; border: 2px solid #e12454; border-radius: 4rem; color: #e12454;padding: 2px;" >
                                            <li class="">
                                                <i class="far fa-envelope fa-fw me-2"
                                                    data-fa-transform="grow-3"></i>
                                                    
                                            </li>
                                            <li class="">
                                                <i class="fas fa-phone-volume fa-fw me-2"
                                                    data-fa-transform="grow-6">
                                                </i>
                                            </li>
                                            <li class="">
                                                <i class="fas fa-home fa-fw me-2"
                                                        data-fa-transform="grow-6">
                                                </i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-10" >
                                        <ul class="list-unstyled text-justify-start" >
                                            <li class="">
                                                    Steve.Doe@website.com
                                            </li>
                                            <li class="">
                                                0123 456 78900
                                            </li>
                                            <li class="">
                                               0123 456 78900
                                            </li>
                                        </ul>
                                    </div>
                                </div>
          
          
          
                            </div>
                            <div class="container resume_item resume_about ">
                                <div class="title mt-4 ">
                                    <p class="bold " style="color: #e12454; font-weight: 900;">PROFIL</p>
                                </div>
          
                                <p class=" p-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis illo fugit officiis distinctio culpa officia totam atque exercitationem inventore repudiandae?</p>
                            </div>
                            <div class=" resume_item resume_work mx-0 pr-2 container">
                                <div class="title ">
                                    <p class="bold " style="color: #e12454; font-weight: 900;">Expérience professionnelles </p>
                                </div>
                                <div class="row p-2">
                                    <div class="col-4">
                                        <div class="date ">2017 - Present</div>
          
                                    </div>
                                    <div class="col-8">
                                        <ul style="list-style:none;">
                                            <li>
                                                <div class="info pr-1">
                                                    <div class="bold "><h6>Lorem ipsum dolor sit amet.</h6></div>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                                </div>
                                            </li>
                                        </ul>
          
                                    </div>
          
                                    <div class="col-4">
                                        <div class="date ">2019 - 2020</div>
          
                                    </div>
                                    <div class="col-8">
                                        <ul>
                                            <li>
                                                <div class="info pr-1">
                                                    <div class="bold pr-1"><h6>Lorem ipsum dolor sit amet.</h6></div>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                                </div>
                                            </li>
                                        </ul>
          
                                    </div>
                                    <div class="col-4"     
                                    >
                                        <div class="date ">2017 - 2018</div>
          
                                    </div>
                                    <div class="col-8">
                                        <ul>
                                            <li>
                                                <div class="info pr-1">
                                                    <div class="bold pr-1"><h6>Lorem ipsum dolor sit amet.</h6></div>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                                </div>
                                            </li>
                                        </ul>
          
                                    </div>
          
          
          
          
                                </div>
          
                            </div>
                            <div class="container resume_skills my-1">
                                <div class="resume_itemi resume_skills ">
                                    <div class="title ">
                                        <p class="bold " style="color: #e12454; font-weight: 900;">RÉFERENCES</p>
                                    </div>
                                   <div class="row p-1">
                                        <div class="col-6">
                                            <ul >
                                                <li class=" pb-1 mb-1">
          
                                                    <div class="info ">
                                                        <div class="semi-bold pb-1"><h5>Mr joe</h5></div>
                                                        <p class="mb-0" style="font-size: 14px;"> voluptatibus!</p>
                                                        <div class="date mt-0">Tel:228 9678 787</div>
                                                    </div>
                                                </li>
                                                <li class=" pb-1 mb-1">
                                                    <div class="info ">
                                                        <div class="semi-bold "><h5>Mme jane</h5></div>
                                                        <p class="mb-0" style="font-size: 14px;">Lorem ipsum dolor sit amet voluptatibus!</p>
                                                        <div class="date mt-0">Tel:228 9678 787</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-6">
                                            <ul >
                                                <li class=" pb-1 mb-1">
          
                                                    <div class="info ">
                                                        <div class="semi-bold pb-1"><h5>Mr joe</h5></div>
                                                        <p class="mb-0" style="font-size: 14px;"> voluptatibus!</p>
                                                        <div class="date mt-0">Tel:228 9678 787</div>
                                                    </div>
                                                </li>
                                                <li class=" pb-1 mb-1">
                                                    <div class="info ">
                                                        <div class="semi-bold "><h5>Mme jane</h5></div>
                                                        <p class="mb-0" style="font-size: 14px;">Lorem ipsum dolor sit amet voluptatibus!</p>
                                                        <div class="date mt-0">Tel:228 9678 787</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
          
                    </div>

                    <div class="col-4 pl-1 ">
                        <div class="secondary-info col-auto mt-2 mb-5" style=" width: 205px; height: 185px; border-right: 9px solid #e12454; border-radius: 50%;">
                          
                            <img src="https://i.imgur.com/eCijVBe.png " alt="profile_pic"
                                style="height: 180px; width: 180px; border-radius: 50%; ">
                                <div class="" style="width: 20px; height: 20px; background-color: #e12454; margin-left: 10px;  margin-top: -25px; border-radius: 50%;"></div>

                               
                        </div>
                        <div class="container mt-5">
                           
                            <div class="col mt-5">
                                <p class="bold " style="color: #e12454; font-weight: 900;">EDUCATIONS</p>
                            </div>
                            
                            <div class="col-12">
                                <ul style="list-style:none;">
                                    <li>
                                        <div class=" text-black">
                                            <h4 style="font-weight: 600; font-size: 14px" class="m-0">LICENCE</h4>
                                           
                                            <P class="semi-boldi m-0" style="font-size: 11px;">Lorem ipsum dolor </P>
                                            <h6 style="font-size: 9px;" class="m-0">2019 - 2022</h6>
          
                                        </div>
                                    </li>
                                </ul>
          
                            </div>
                            <div class="col-12">
                                <ul style="list-style:none;">
                                    <li>
                                        <div class=" text-black">
                                            <h4 style="font-weight: 600; font-size: 14px" class="m-0">LICENCE</h4>
                                           
                                            <P class="semi-boldi m-0" style="font-size: 11px;">Lorem ipsum dolor </P>
                                            <h6 style="font-size: 9px;" class="m-0">2019 - 2022</h6>
          
                                        </div>
                                    </li>
                                </ul>
          
                            </div>

                            <div class="col mt-5">
                                <p class="bold " style="color: #e12454; font-weight: 900;">LANGUES</p>
                            </div>
                            <div class="col-12">
                                <ul >
                                    <li>
                                        <div class=" text-black">
                                            <P class="semi-boldi m-0" style="font-size: 11px;">Kim</P>
                                        </div>
                                    </li>
                                    <li>
                                        <div class=" text-black">
                                           
                                            <P class="semi-boldi m-0" style="font-size: 11px;">Anglais </P>
                                           
                                        </div>
                                    </li>
                                </ul>
          
                            </div>
                            <div class="title ">
                                <p class="bold " style="color: #e12454; font-weight: 900;">COMPÉTENCES</p>
                            </div>
                            <ul>
                                <li>
                                    <div class=" text-black">
                                        <P class="semi-boldi m-0" style="font-size: 11px;">Maths</P>
                                    </div>
                                </li>
                                <li>
                                    <div class=" text-black">
                                       
                                        <P class="semi-boldi m-0" style="font-size: 11px;">Word </P>
                                       
                                    </div>
                                </li>
                                <li>
                                    <div class=" text-black">
                                        <P class="semi-boldi m-0" style="font-size: 11px;">Excel</P>
                                    </div>
                                </li>
                                <li>
                                    <div class=" text-black">
                                       
                                        <P class="semi-boldi m-0" style="font-size: 11px;">Power point </P>
                                       
                                    </div>
                                </li>
                            </ul>
                           
                            
                        </div>
                        
                    </div>
                   
                </div>
          
              </div>
          
          
            </div>
          




















