<div class="container-fluid shadow bg-white p-0 mx-5 justify-content-center">


  <div class="row">
      <div class="col-8">
          <div class="container- justify-content-center py-2 " >
              <h1 class="justify-content-center p-3">KOTOR A.VICTOR</h1>
              <h6>COMMUNICATION /MARKETING</h6>

          </div>
          <div class="resume_right  container-fluid mx-0 mb-4" style="width: 100%;" >
              <div class="container justify-content-center py-2 " >
                  <div class="row">
                      <div class="col-2">
                          <div class="btn-group">
                              <i class="fa fa-user"></i>
                              <i class="fa fa-user"></i>
                              <i class="fa fa-user"></i>
                          </div>
                      </div>
                      <div class="col-10">
                          <h6>hiklklk</h6>
                          <h6>hiklklk</h6>
                          <h6>hiklklk</h6>

                      </div>
                  </div>



              </div>
              <div class="container resume_item resume_about ">
                  <div class="title mt-4 ">
                      <p class="bold " style="color: #e12454;">PROFIL</p>
                  </div>

                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis illo fugit officiis distinctio culpa officia totam atque exercitationem inventore repudiandae?</p>
              </div>
              <div class=" resume_item resume_work mx-0">
                  <div class="title ">
                      <p class="bold " style="color: #e12454;">Expérience professionnelles </p>
                  </div>
                  <div class="row">
                      <div class="col-4">
                          <div class="date ">2017 - Present</div>

                      </div>
                      <div class="col-8">
                          <ul>
                              <li>
                                  <div class="info ">
                                      <div class="bold "><h6>Lorem ipsum dolor sit amet.</h6></div>
                                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                  </div>
                              </li>
                          </ul>

                      </div>

                      <div class="col-4">
                          <div class="date ">2019 - 2020</div>

                      </div>
                      <div class="col-8">
                          <ul>
                              <li>
                                  <div class="info ">
                                      <div class="bold "><h6>Lorem ipsum dolor sit amet.</h6></div>
                                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                  </div>
                              </li>
                          </ul>

                      </div>
                      <div class="col-4">
                          <div class="date ">2017 - 2018</div>

                      </div>
                      <div class="col-8">
                          <ul>
                              <li>
                                  <div class="info ">
                                      <div class="bold "><h6>Lorem ipsum dolor sit amet.</h6></div>
                                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                  </div>
                              </li>
                          </ul>

                      </div>




                  </div>

              </div>
              <div class="resume_item resume_skills ">
                  <div class="resume_itemi resume_skills ">
                      <div class="title ">
                          <p class="bold " style="color: #e12454;">RÉFERENCES</p>
                      </div>
                     <div class="row">
                          <div class="col-6">
                              <ul >
                                  <li class=" pb-1 mb-1">

                                      <div class="info ">
                                          <div class="semi-bold pb-1"><h5>Mr joe</h5></div>
                                          <p class="mb-0" style="font-size: 14px;"> voluptatibus!</p>
                                          <div class="date mt-0">Tel:228 9678 787</div>
                                      </div>
                                  </li>
                                  <li class=" pb-1 mb-1">
                                      <div class="info ">
                                          <div class="semi-bold "><h5>Mme jane</h5></div>
                                          <p class="mb-0" style="font-size: 14px;">Lorem ipsum dolor sit amet voluptatibus!</p>
                                          <div class="date mt-0">Tel:228 9678 787</div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-6">
                              <ul >
                                  <li class=" pb-1 mb-1">

                                      <div class="info ">
                                          <div class="semi-bold pb-1"><h5>Mr joe</h5></div>
                                          <p class="mb-0" style="font-size: 14px;"> voluptatibus!</p>
                                          <div class="date mt-0">Tel:228 9678 787</div>
                                      </div>
                                  </li>
                                  <li class=" pb-1 mb-1">
                                      <div class="info ">
                                          <div class="semi-bold "><h5>Mme jane</h5></div>
                                          <p class="mb-0" style="font-size: 14px;">Lorem ipsum dolor sit amet voluptatibus!</p>
                                          <div class="date mt-0">Tel:228 9678 787</div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                     </div>
                  </div>
              </div>
          </div>

      </div>
      <div class="col-4 justify-content-center">
          <div class="resume_item resume_skills">
              <div class="title ">
                  <p class="bold " style="color: #e12454;">EDUCATIONS</p>
              </div>
              <div class="col-8  justify-content-center">
                  <ul>
                      <li>
                          <div class="info ">
                              <p class="semi-bold ">BAC2</p>
                              <P class="semi-boldi">Lorem ipsum dolor sit </P>

                              <div class="date ">2019 - 2020</div>

                          </div>
                      </li>
                  </ul>

              </div>
              <div class="col-8">
                  <ul>
                      <li>
                          <div class="info ">
                              <p class="semi-bold ">LICENCE</p>
                              <P class="semi-boldi">Lorem ipsum dolor </P>

                              <div class="date ">2019 - 2022</div>

                          </div>
                      </li>
                  </ul>

              </div>
              <div class="col-8">
                  <ul>
                      <li>
                          <div class="info">
                              <p class="semi-bold ">BPCET</p>
                              <P class="semi-boldi">Lorem ipsum dolor </P>

                              <div class="date ">2009 - 2022</div>
                          </div>
                      </li>
                  </ul>

              </div>
          </div>
          <div class="resume_item resume_skills">
              <div class="title ">
                  <p class="bold " style="color: #e12454;">LANGUES </p>
              </div>
              <div class="col-8">
                  <ul>
                      <li>
                          <div class="info ">
                              <p class="semi-bold ">Anglais</p>
                          </div>
                      </li>
                  </ul>

              </div>
              <div class="col-8">
                  <ul>
                      <li>
                          <div class="info ">
                              <p class="semi-bold ">Francais</p>
                          </div>
                      </li>
                  </ul>

              </div>
              <div class="col-8">
                  <ul>
                      <li>
                          <div class="info ">
                              <p class="semi-bold ">Arabe</p>
                          </div>
                      </li>
                  </ul>

              </div>
          </div>
          <div class="resume_item resume_skills">
              <div class="title ">
                  <p class="bold " style="color: #e12454;">COMPÉTENCES</p>
              </div>
              <ul>
                  <li>
                      <div class="skill_name ">
                          HTML
                      </div>
                      <div class="skill_progress ">
                          <span style="width: 80%; "></span>
                      </div>
                      <div class="skill_per ">80%</div>
                  </li>
                  <li>
                      <div class="skill_name ">
                          CSS
                      </div>
                      <div class="skill_progress ">
                          <span style="width: 70%; "></span>
                      </div>
                      <div class="skill_per ">70%</div>
                  </li>
                  <li>
                      <div class="skill_name ">
                          SASS
                      </div>
                      <div class="skill_progress ">
                          <span style="width: 90%; "></span>
                      </div>
                      <div class="skill_per ">90%</div>
                  </li>
                  <li>
                      <div class="skill_name ">
                          JS
                      </div>
                      <div class="skill_progress ">
                          <span style="width: 60%; "></span>
                      </div>
                      <div class="skill_per ">60%</div>
                  </li>
                  <li>
                      <div class="skill_name ">
                          JQUERY
                      </div>
                      <div class="skill_progress ">
                          <span style="width: 88%; "></span>
                      </div>
                      <div class="skill_per ">88%</div>
                  </li>
              </ul>
          </div>
      </div>
  </div>

</div>
