<div class="divcen">
  <div

    class="btn-group  col-12 txtitre" >
      <a  data-toggle="collapse"
      data-target="#centreInteret"
      aria-expanded="false"
      aria-controls="centreInteret"
       class="btn text-start"><h4> Centres d'intéret</h4></a>
      <a
      data-toggle="collapse"
      data-target="#centreInteret"
      aria-expanded="false"
      aria-controls="centreInteret" class="btn text-end"><i class="fa-regular fa-plus fa-6x btn" style="border: 2px solid #000; font-size: 15px;"></i></a>
</div>



  <div class="   collapse " id="centreInteret">
    <!-- <form #f="ngForm" (ngSubmit)="save(f.value)"> -->
      <div class="col-12">
        <div class="form-group">
          <label for="interet">interet</label>
          <input
          
            name="interet"
            id="interet"
            type="text"
            class="form-control"
            (input)="launchValue()"
          />
         

        </div>
      </div>



    <button (click)="increment();addQuantity()" class="btn btn-plus " style="border: 1px solid #000;"><i class="fa-regular fa-plus h-6" ></i>Ajouter un Centre d'interet</button>

  </div>
  <div class="container" *ngFor="let quantity of quantities().controls; let i=index" >

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="interet">interet</label>
          <input
           
            name="interet"
            id="interet"
            type="text"
            class="form-control"
            (input)="launchValue()"
          />

        </div>
      </div>

    </div>

    <i (click)="removeQuantity(i)" class="fa-solid fa-trash-can" style="font-size: 33px; padding: 2px; color: #09977C; border: 1px solid gainsboro;"></i>

  </div>

</div>
