<div class="container fomrscv">

  <form #f="ngForm" (ngSubmit)="save(f.value)">


   <div class="container">
    <app-information-form>

    </app-information-form>
    <hr>

    <app-profil-from>

    </app-profil-from>

    <hr>

    <app-formation-from>

    </app-formation-from>
    <hr>
    <app-experience-from>

    </app-experience-from>
    <hr>
    <app-competence>

    </app-competence>
    <hr>
    <app-langue-form>

    </app-langue-form>


    <hr>

    <app-centre-from>

    </app-centre-from>


    <hr>

    <app-cours-form>

    </app-cours-form>
    <hr>
    <app-refernece-form></app-refernece-form>



    <hr>

    <app-stage-form></app-stage-form>


    <hr>

    <app-activite-form></app-activite-form>


    <hr>
    <app-qualite-form></app-qualite-form>
    <hr>

    <app-realisation-form>

    </app-realisation-form>
    <hr>
    <app-bas-page-form>

    </app-bas-page-form>
   </div>
  </form>
</div>
