
<app-header></app-header>
<div class="container">
   
    <div class="row mb-4 mt-5">
        <div class="col-md-7">
            <img src="../../../../../assets/images/recru/recru1.jpg" alt="" class="img-fluid" style="height: 100%; width: 100%; border-radius: 10px;">
        </div>
        <div class="col-md-5">
            <div class="row d-block">
                <div class="col-md-6 mb-2"><img src="../../../../../assets/images/recru/receu3.jpg" style="height: 100%; width: 100%; border-radius: 10px;" alt="" srcset=""></div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6"><img src="../../../../../assets/images/recru/recru2.jpg" style="height: 100%; width: 100%; border-radius: 10px;" alt="" srcset=""></div>
                      <div class="col-md-6 "><img src="../../../../../assets/images/recru/recru4.jpg" style="height: 100%; width: 100%; border-radius: 10px;" alt="" srcset=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>