
<div class="d-md-flex "style="background-color: #009d8b;" >
    <app-user-uea></app-user-uea>
    <section class="d-flex row ">
      <div class="side-width"></div>
      <div class="col main-width">
        <app-header-admin></app-header-admin>
        <div class="container-fluid bg-primar"  style="height: 100vh !important;">
          <div class="row">
            <!-- Insérez ici le contenu principal du site ou de l'application -->
            <div class="container-fluid mt-5" >
                <router-outlet></router-outlet>
            </div>
          </div>
        </div>
        <!-- <app-footer-admin></app-footer-admin> -->
      </div>
    </section>
</div>