.fiche-position {
    display: flex;
    align-items: center;
    align-content: center;
  }
  .side-width{
    width: 100px;
  }
  .main-width{
  
    width: 100vw;
  }

  .div-changed{
    width: 8000px;
  }
  *{
    background-color: #009d8b; 
    
  }

