

<div class="main-content">
  <!-- Top navbar -->
  <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
      <!-- Brand -->
      <a
        class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
        href="https://www.creative-tim.com/product/argon-dashboard"
        target="_blank"
        >User profile</a
      >
      <!-- Form -->
      <form
        class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto"
      >
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-search"></i
              ></span>
            </div>
            <input class="form-control" placeholder="Search" type="text" />
          </div>
        </div>
      </form>
      <!-- User -->
    </div>
  </nav>
  <!-- Header -->
  <div
    class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="
      min-height: 600px;
      background-image: url('/assets/images/ma/aa.jpg');
      background-size: cover;
      background-position: center top;
    "
  >
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Bonjour {{ ueaConnecte.prenom}}</h1>
          <p class="text-white mt-0 mb-5">
            Ceci est votre page de profil. Vous pouvez voir les progrès que vous avez réalisés avec
            votre travail et gérez vos projets ou tâches assignées
          </p>
          <a href="#!" class="btn btn-info">Modifier votre profil</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-1 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center mb-5">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <img
                    src="/assets/images/ma/commerce.jpg"
                    class="rounded-circle"
                  />
                </a>
              </div>
            </div>
          </div>
          <div
            class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
          >
            <!-- <div class="d-flex justify-content-between">
              <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
              <a href="#" class="btn btn-sm btn-default float-right">Message</a>
            </div> -->
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center">
              <h3>{{ ueaConnecte.prenom + " " + ueaConnecte.nom }}<span class="font-weight-light">, {{ age! + " ans"  }}</span></h3>
              <div class="h5 font-weight-300">
                <i class="fa-solid fa-location-dot"></i> {{ ueaConnecte.adresse }}, Togo
              </div>
              <div class="h5 mt-4">
                <i class="fa-solid fa-briefcase"></i> {{ ueaConnecte.detailSA.libelle }}  -
                {{ ueaConnecte.detailSA.secteurDactivite.libelle }}
              </div>


              <div>
                <h5>Status compte</h5>
                <i class="fa fa-globe"></i> {{ ueaConnecte.etat == true ? "active" : "compte bloqué" }}
              </div>
              <hr class="my-4" />
              <p>
                <i class="fa-solid fa-at"></i> {{ ueaConnecte.email }}
              </p>
              <div class="mb-2">
                <h5>Phone</h5>
                <h4><i class="fa fa-phone"></i> {{ ueaConnecte.tel }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-2">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Votre compte</h3>
              </div>
              <div class="col-4 text-right">
                
                <a  class="btn btn-sm btn-primary text-white"  data-toggle="modal" data-target="#modalResetPassword">Modifier votre mot de passe</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="infos-data p-1">
              <div class="col-md-12  shadow " style="border-radius: 0.5rem">
                  <h3 class="mb-2 pt-3 fw-bold">Historique connection</h3>
                  <div class=" my-4">
                    
                  </div>
                </div>
              <div class="col-md-12  shadow " style="border-radius: 0.5rem">
                <h3 class="mb-2 pt-3 fw-bold">Historique de connection</h3>
                <div class=" my-4">
                  <table class="table table-hover ">
                    <thead >
                      <tr class="text-center">
                        <th>N° d'ordre</th>
                        <th>Ref</th>
                        <th colspan="2">Derniere connection</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center" *ngFor="let item of histUEAConnecte;let i = index">
                        <td>{{i+1}}</td>
                        <td>130</td>
                        <td colspan="2">{{item?.dateCreation | date:'medium' }}</td>
                        <td>
                          <button class="btn btn-up btn-sm"  (click)="voirHisto(item.id)">voir</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<!-- The Modal -->
<div class="modal fade " id="modalResetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">modifier votre mot de passe</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-row mb-3">

          <div class="col">
              <input type="text" class="form-control" placeholder="ancien mot de passe">

          </div>
          <div class="col">
              <input type="email" class="form-control" placeholder="nouveau mot de passe">

          </div>
      
      </div>
      <div class="mt-2">
            
        <button type="button" class="btn btn-up" data-dismiss="modal">Modifier</button>
          </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
      </div>

    </div>
  </div>
</div>
















<div class="modal fade " id="ueabyId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Historique connection N° {{listHistoAByid?.uea.id }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <div class="card-body pt-0 pt-md-4">
                    <div class="text-center">
                      <h3>{{ listHistoAByid?.uea.prenom + " " + listHistoAByid?.uea.nom }}<span class="font-weight-light"></span></h3>
                      <div class="h5 font-weight-300">
                        <i class="fa-solid fa-globe-africa"></i> {{ listHistoAByid?.dateUpdate | date:'medium' }}, Togo
                      </div>
                     
        
  
                    </div>
                  </div>
                
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
            </div>

        </div>
    </div>
</div>