
<app-header></app-header>
<div class="container">
   
    <div class="row my-4">
        <div class="col-md-8">
            <img src="../../../../../assets/images/stage/stag1.jpg" alt="" class="img-fluid" style="height: 100%; width: 100%; border-radius: 10px;">
        </div>
        <div class="col-md-4 text-justify">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet, modi iusto. Nihil maxime iure placeat quidem, similique aperiam itaque facere provident necessitatibus, suscipit rem eius optio eaque consequatur nobis veniam!
            Quae iste quis ab eveniet, laborum velit quia, fugit vero beatae animi, omnis quaerat ex cupiditate laudantium quidem? Voluptatibus itaque in quos dolore accusamus tenetur sit dolorem natus iusto doloribus!
            Repudiandae labore ad quia, accusamus maxime dolores voluptate aut. Quas officiis aliquam corporis quos voluptas quod omnis non amet ut repellendus, odio consequuntur dolorum fugiat, doloribus hic cupiditate provident commodi.
            Quam assumenda dolores ea, consequuntur odit voluptatem soluta fuga cupiditate ipsum non quasi, blanditiis tenetur eos eius iste, dignissimos corporis aspernatur hic. Neque incidunt minus accusamus quod consectetur ea placeat.
          </div>
       
    </div>
</div>
<app-footer></app-footer>
