<ul class="nav nav-pills item flex-column mb-auto my-4" >
  
    <li class="nav-item">
      <a
        [href]="['utd/dashboard']"
        routerLinkActive="router-link-active"
        [ngClass]="
          route == '/admin/agent/franchise' ? 'nav-link active' : 'nav-link'
        "
      >
        <div class="d-flex justify-content-start align-items-center">
          <div class="nav-card bg-primar">
            <i class="fas fa-home"></i>
          </div>
          <h6 class="mx-2 mt-2">Accueil</h6>
        </div>
      </a>
    </li>

  
    <li class="nav-item hover">
      <a
        [href]="['/admin/agent/franchise/liste/agent/' + idAgent]"
        routerLinkActive="router-link-active"
        [ngClass]="
          route == '/admin/agent/franchise/liste/agent/' + idAgent
            ? 'nav-link active'
            : 'nav-link'
        "
      >
        <div class="d-flex justify-content-start align-items-center">
          <div class="nav-card bg-primar">
            <i class="fa-solid fa-briefcase"></i>
          </div>
          <h6 class="mx-2 mt-2">Listes des Offres</h6>
        </div>
      </a>
      <div class="hover-view">
        <ul >
          <li class="nav-item" *ngIf="idAgent == 1" style="list-style: none">
            <a
              [href]="['utd/dashboard/demandeur']"
              routerLinkActive="router-link-active"
              [ngClass]="
                route == '/admin/agent/franchise/agent-ksu'
                  ? 'nav-link active'
                  : 'nav-link'
              "
            >
              <div class="d-flex justify-content-start align-items-center">
                <div class="nav-card bg-primar">
                  <i class="fas fa-user-tie"></i>
                </div>
                <h6 class="mx-2 mt-2">Offre de recrutement</h6>
              </div>
            </a>
          </li>
          <li class="nav-item" *ngIf="idAgent == 1" style="list-style: none">
            <a
              [href]="['utd/dashboard/stage']"
              routerLinkActive="router-link-active"
              [ngClass]="
                route == '/admin/agent/franchise/agent-ksu'
                  ? 'nav-link active'
                  : 'nav-link'
              "
            >
              <div class="d-flex justify-content-start align-items-center">
                <div class="nav-card bg-primar">
                  <i class="fas fa-user-tie"></i>
                </div>
                <h6 class="mx-2 mt-2">Offre de stage</h6>
              </div>
            </a>
          </li>
          <li class="nav-item" style="list-style: none" *ngIf="idAgent == 1">
            <a
              [href]="['utd/dashboard/recruteur']"
              routerLinkActive="router-link-active"
              [ngClass]="
                route == 'liste/agent/general' ? 'nav-link active' : 'nav-link'
              "
            >
              <div class="d-flex justify-content-start align-items-center">
                <div class="nav-card bg-primar">
                  <i class="fas fa-user-tie"></i>
                </div>
                <h6 class="mx-2 mt-2">Lancer un appel  à candidature</h6>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item hover">
      <a
        [href]="['utd/dashboard/profil']"
        routerLinkActive="router-link-active"
        [ngClass]="
          route == 'utd/dashboard/profil'
            ? 'nav-link active'
            : 'nav-link'
        "
      >
        <div class="d-flex justify-content-start align-items-center">
          <div class="nav-card bg-primar">
            <i class="fa-solid fa-address-card"></i>
          </div>
          <h6 class="mx-2 mt-2">Profil</h6>
        </div>
      </a>
      <div class="hover-view">
    
      </div>
    </li>

    <li class="nav-item">
      <a
      [href]="['utd/dashboard/formation']"
      
        class="nav-link"
      >
        <div class="d-flex justify-content-start align-items-center">
          <div class="nav-card bg-primar">
            <i class="fa-solid fa-award"></i>
          </div>
  
          <h6 class="mx-2 mt-2">Formation</h6>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a
        [href]="['utd/dashboard/uea']"
        routerLinkActive="router-link-active"
        [ngClass]="
          route == 'si' ? 'nav-link active' : 'nav-link'
        "
        class="nav-link"
      >
        <div class="d-flex justify-content-start align-items-center">
          <div class="nav-card bg-primar">
            <i class="fa-solid fa-users"></i>
          </div>
  
          <h6 class="mx-2 mt-2">Gestion utilisateurs</h6>
        </div>
      </a>
    </li>
    <li class="nav-item ">
      <a
        [href]="['utd/dashboard/abonnement']"
       
        class="nav-link"
      >
        <div class="d-flex justify-content-start align-items-center">
          <div class="nav-card bg-primar">
            <i class="fa fa-credit-card"></i>
          </div>
          <h6 class="mx-2 mt-2 text-white">Abonnement</h6>
        </div>
      </a>
    </li>
  </ul>
  
