<div class="divExp">
  <div

    class="btn-group  col-12 txtitre" >
      <a  data-toggle="collapse"
      data-target="#expepro"
      aria-expanded="false"
      aria-controls="profil"
       class="btn text-start"><h4>Expérience professionnelle</h4></a>
      <a
      data-toggle="collapse"
      data-target="#expepro"
      aria-expanded="false"
      aria-controls="profil"  class="btn text-end"><i class="fa-regular fa-plus fa-6x btn" style="border: 2px solid #000; font-size: 15px;"></i></a>
    </div>







  <div class="container px-5 collapse " id="expepro">
    <div>
      <!-- <form #f="ngForm" (ngSubmit)="save(f.value)"> -->
      <div class="form-group">
        <label for="posteproun">Poste</label>
        <input

          name="posteproun"
          id="posteproun"
          type="text"
          class="form-control"
          (input)="launchValueOne($event,'postepro')"
        />
        <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                  Adresse is required.
                </div> -->
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="employeurproun">Employeur</label>
            <input

              name="employeurproun"
              id="employeurproun"
              type="text"
              class="form-control"
              (input)="launchValueOne($event,'employeurproun')"
            />
            <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                      Adresse is required.
                    </div> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="villeexpeproun">Ville</label>
            <input

              name="villeexpeproun"
              id="villeexpeproun"
              type="text"
              class="form-control"
              (input)="launchValueOne($event,'villexpepro')"
            />
            <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                      Adresse is required.
                    </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="datedebutpro">Date de début</label>
            <input

              name="datedebutproun"
              id="datedebutproun"
              type="date"
              class="form-control"
              (input)="launchValueOne($event,'datedebutpro')"
            />
            <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                      Adresse is required.
                    </div> -->
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="datefinproun">Date de fin</label>
            <input

              name="datefinproun"
              id="datefinproun"
              type="date"
              class="form-control"
              (input)="launchValueOne($event,'datefinpro')"
            />
            <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                      Adresse is required.
                    </div> -->
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="descriptionproun">Description</label>


        <textarea
        name="descriptionproun"
        id="descriptionproun"
        type="text"
        class="form-control"
        (input)="launchValueOne($event,'descriptionpro')" id="" cols="20" rows="5" class="summernote form-control">

        </textarea>

        <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                  Adresse is required.
                </div> -->
      </div>
    </div>

    <div>
      <!-- <form #f="ngForm" (ngSubmit)="save(f.value)"> -->
      <div class="form-group">
        <label for="posteproun">Poste</label>
        <input

          name="posteproun"
          id="posteproun"
          type="text"
          class="form-control"
          (input)="launchValueOne($event,'postepro1')"
        />
        <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                  Adresse is required.
                </div> -->
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="employeurproun">Employeur</label>
            <input

              name="employeurproun"
              id="employeurproun"
              type="text"
              class="form-control"
              (input)="launchValueOne($event,'employeurproun1')"
            />
            <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                      Adresse is required.
                    </div> -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="villeexpeproun">Ville</label>
            <input

              name="villeexpeproun"
              id="villeexpeproun"
              type="text"
              class="form-control"
              (input)="launchValueOne($event,'villexpepro1')"
            />
            <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                      Adresse is required.
                    </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="datedebutpro">Date de début</label>
            <input

              name="datedebutproun"
              id="datedebutproun"
              type="date"
              class="form-control"
              (input)="launchValueOne($event,'datedebutpro1')"
            />
            <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                      Adresse is required.
                    </div> -->
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="datefinproun">Date de fin</label>
            <input

              name="datefinproun"
              id="datefinproun"
              type="date"
              class="form-control"
              (input)="launchValueOne($event,'datefinpro1')"
            />
            <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                      Adresse is required.
                    </div> -->
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="descriptionproun">Description</label>


        <textarea
        name="descriptionproun"
        id="descriptionproun"
        type="text"
        class="form-control"
        (input)="launchValueOne($event,'descriptionpro1')" id="" cols="20" rows="5" class="summernote form-control">

        </textarea>

        <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                  Adresse is required.
                </div> -->
      </div>
    </div>





      <button (click)="increment();addQuantity()" class="btn btn-plus " style="border: 1px solid #000;"><i class="fa-regular fa-plus h-6" ></i>Ajouter une experience professionelle</button>
      <!-- <button (click)="decrement()">SUB</button> -->



      <div class="" *ngFor="let quantity of quantities().controls; let i=index" >

        <div>
          <!-- <form #f="ngForm" (ngSubmit)="save(f.value)"> -->
          <div class="form-group">
            <label for="posteproun">Poste</label>
            <input

              name="posteproun"
              id="posteproun"
              type="text"
              class="form-control"
              (input)="launchValue()"
            />
            <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                      Adresse is required.
                    </div> -->
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="employeurproun">Employeur</label>
                <input

                  name="employeurproun"
                  id="employeurproun"
                  type="text"
                  class="form-control"
                  (input)="launchValue()"
                />
                <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                          Adresse is required.
                        </div> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="villeexpeproun">Ville</label>
                <input

                  name="villeexpeproun"
                  id="villeexpeproun"
                  type="text"
                  class="form-control"
                  (input)="launchValue()"
                />
                <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                          Adresse is required.
                        </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="datedebutpro">Date de début</label>
                <input

                  name="datedebutproun"
                  id="datedebutproun"
                  type="date"
                  class="form-control"
                  (input)="launchValue()"
                />
                <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                          Adresse is required.
                        </div> -->
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="datefinproun">Date de fin</label>
                <input

                  name="datefinproun"
                  id="datefinproun"
                  type="date"
                  class="form-control"
                  (input)="launchValue()"
                />
                <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                          Adresse is required.
                        </div> -->
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="descriptionproun">Description</label>


            <textarea
            name="descriptionproun"
            id="descriptionproun"
            type="text"
            class="form-control"
            (input)="launchValue()" id="" cols="20" rows="5" class="summernote form-control">

            </textarea>
          </div>
          <i (click)="removeQuantity(i)" class="fa-solid fa-trash-can" style="font-size: 33px; padding: 2px; color: #09977C; border: 1px solid gainsboro;"></i>

        </div>

    </div>

  </div>
 </div>
