

th{
    font-size: 11px;
    color: gray;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    
}
td{

        font-size: 14px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}
.btn-up{
  color: #fff;
  background-color: #009d8b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn-up:hover{
    color: #fff;
    background-color: #e12454;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
h2{
    color: #323f55;
    font-size: 23px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
h3{
    color: #323f55;
    font-weight: 400;
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h4{
    color: #323f55;
    font-size: 17px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

}
h5{
    color: gray;
    font-size: 12px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
   
}

td .btn{

    text-align: center;
}



input[type=email],
input[type=password],
input[type=tel],
input[type=date],
input[type="text"],select{
  box-shadow: none;
  height: 38px;
  outline: none;
  font-size: 14px;
  border-radius: 0.3em;
  background-color: #f5f5f5;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=date]:focus,
textarea:focus ,select:focus{
  box-shadow: none;
  border: 1px solid #09977C;
  border-radius: 0.3em;
}

.card i,p i{
  color: #009d8b;
}






























/* MAin Section */
.main{
  position: relative;
  padding: 20px;
  width: 100%;
}
.main-top{
  display: flex;
  width: 100%;
}
.main-top i{
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.users .card{
  margin: auto;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.users .card img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  
}
.users .card h4{
  text-transform: uppercase;
}
.users .card p{
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.users table{
  margin:  auto;
}
.users .per span{
  padding: 5px;
  border-radius: 10px;
  background: rgb(223, 223, 223);
}
.users td{
  font-size: 14px;
  padding-right: 15px;
}
.users .card button{
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #09977C;
}
.users .card button:hover{
  background: #009d8b;
  color: #fff;
  transition: 0.5s;
}
