





















<header>
  <div class="header-top-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-8">
          <ul class="top-bar-info list-inline-item pl-0 mb-0">
            <li class="list-inline-item">
              <a href="mailto:toro.communication@gmail.com"><i
                  class="fa-solid fa-envelope mr-2"></i>toro.communication@gmail.com</a>
            </li>
            <li class="list-inline-item">
              <i class="fa-solid fa-location-dot"></i> Address
              Tokoin-protestant, Lome, TOGO
            </li>
            <li class="list-inline-item">
              <a class="dropdown-item" href="/newsletter">Newsletter</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <form class="form-inline  ml-lg-4 text-white">
            <input class="form-control px-0 w-100 masearch" type="search" placeholder="recherche">
            <!-- <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button> -->
            <a href="search.html" class="search-icon"><i class="fa fa-search  "></i></a>
          </form>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navigation " id="navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="./assets/images/ma/loogo1.jpeg" alt="" class="img-fluid"   />
      </a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
        aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icofont-navigation-menu"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarmain">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/apropos']">Apropos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/fairecv']">Faire mon CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/lesmeilleurscv']">Montage Facture</a>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [routerLink]="['/formation']" id="dropdown02" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Formation <i class="icofont-thin-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown02">
              <li>
                <a class="dropdown-item" href="/formation">Redaction De Cv</a>
              </li>
              <li>
                <a class="dropdown-item" href="/formation">Redaction De Cv</a>
              </li>
              <li>
                <a class="dropdown-item" href="/formation">Check Et Recherche D'emploie</a>
              </li>
              <li>
                <a class="dropdown-item" href="/formation">Comment Allez aux entretiens</a>
              </li>

              <li class="dropdown dropdown-submenu dropright">
                <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

                <ul class="dropdown-menu" aria-labelledby="dropdown0301">
                  <li>
                    <a class="dropdown-item" href="index.html">Submenu 01</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="index.html">Submenu 02</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [routerLink]="['/visite']" id="dropdown03" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Visite D'entreprise <i class="icofont-thin-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li>
                <a class="dropdown-item" href="/visite">Doctors</a>
              </li>
              <li>
                <a class="dropdown-item" href="/visite">Doctor Single</a>
              </li>
              <li>
                <a class="dropdown-item" href="/visite">Appoinment</a>
              </li>

              <li class="dropdown dropdown-submenu dropleft">
                <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0501" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

                <ul class="dropdown-menu" aria-labelledby="dropdown0501">
                  <li>
                    <a class="dropdown-item" href="index.html">Submenu 01</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="index.html">Submenu 02</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>


          <li class="nav-item">
            <a class="btn btn-main-2 btn-round-full btn-icon m-1 " [routerLink]="['/']">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-main-2 btn-round-full btn-icon m-1 " [routerLink]="['/inscription']"
              style="background-color:#09977C ; border:  #09977C;">Inscription</a>
          </li>

        </ul>



      </div>
    </div>
  </nav>
</header>
