<button [useExistingCss]="true" printSectionId="print-section" ngxPrint>print</button>
<div class="container-fluid p-0 mx-5 justify-content-center" id="print-section">
    <div class=" resume container px-0  shadow  justify-content-center " style="width: 90%;">
       <table>
        <tr>
            <td> <div class="resume_left p-0" style="background-color:   rgb(43, 42, 42);">
            <div class="resume_profile  ">
                <img src="https://i.imgur.com/eCijVBe.png " alt="profile_pic ">
            </div>
            <div class="resume_content mx-0">
                <div class="resume_itemi resume_info ">

                    <div class="title ">
                        <p class="bold ">Formation</p>
                    </div >
                    <ul style="border-top:2px solid #FFE436">
                        <li class="text-white pb-3">

                            <div class="info ">
                                <p class="semi-bold ">Web Designing (Texas University)</p>
                                <p class="mb-0" style="font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                <div class="date mt-0">2010 - 2013</div>
                            </div>
                        </li>
                        <li class="text-white pb-3">
                            <div class="info ">
                                <p class="semi-bold ">Texas International School</p>
                                <p class="mb-0" style="font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                <div class="date mt-0">2000 - 2010</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="resume_itemi resume_skills ">
                    <div class="title ">
                        <p class="bold ">RÉFERENCES</p>
                    </div>
                    <ul style="border-top:2px solid #FFE436">
                        <li class="text-white pb-1 mb-1">

                            <div class="info ">
                                <div class="semi-bold pb-1"><h5>Mr joe</h5></div>
                                <p class="mb-0" style="font-size: 14px;"> voluptatibus!</p>
                                <div class="date mt-0">2010 - 2013</div>
                            </div>
                        </li>
                        <li class="text-white pb-1 mb-1">
                            <div class="info ">
                                <div class="semi-bold "><h5>Mme jane</h5></div>
                                <p class="mb-0" style="font-size: 14px;">Lorem ipsum dolor sit amet voluptatibus!</p>
                                <div class="date mt-0">2000 - 2010</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="resume_item resume_social ">
                    <style>

                        li .icon {
                            width: 45px;
                            height: 25px;
                            background: #FFE436;
                            color: #FFE436;
                            margin-right: 10px;
                            font-size: 16px;
                            position: relative;
                        }
                    </style>
                    <ul>
                        <li>

                            <div class="data ">
                                <div class="icon ">
                                    <p class="semi-bold ml-5 text-white">Email</p>

                                </div>

                                <p class=" ml-5 text-white">Stephen@gmail.com</p>
                            </div>
                        </li>
                        <li>
                           <div class="data">
                            <div class="icon ">
                                <p class="semi-bold ml-5 text-white">Phone</p>
                            </div>
                            <p class=" ml-5 text-white">+228 97 67 87 </p>

                           </div>
                        </li>
                        <li>
                           <div class="data">
                            <div class="icon ">
                                <p class="semi-bold ml-5">Adrese</p>
                            </div>
                            <p class=" ml-5 text-white">Stephen@youtube</p>

                           </div>
                        </li>
                        <li>
                           <div class="data">
                            <div class="icon ">
                                <p class="semi-bold ml-5 text-white">Website</p>
                            </div>
                            <p class=" ml-5 text-white">www.iii.com</p>

                           </div>
                        </li>
                    </ul>
                </div>
            </div>
                 </div>
            </td>
            <td>
                <div class="resume_right  container-fluid mx-0 mb-4" style="width: 100%;" >
                    <div class="container justify-content-center py-2 " style=" background-color: #FFE436; height: 8rem;">
                        <h1 class="justify-content-center p-3">KOTOR A.VICTOR</h1>
                        <h6>COMMUNICATION /MARKETING</h6>

                    </div>
                    <div class="container resume_item resume_about ">
                        <div class="title mt-4 ">
                            <p class="bold ">Profil</p>
                        </div>
                        <hr style="border: 1px solid #000;">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis illo fugit officiis distinctio culpa officia totam atque exercitationem inventore repudiandae?</p>
                    </div>
                    <div class=" resume_item resume_work mx-0">
                        <div class="title ">
                            <p class="bold ">Expérience professionnelles </p>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="date ">2017 - Present</div>

                            </div>
                            <div class="col-8">
                                <ul>
                                    <li>
                                        <div class="info ">
                                            <p class="semi-bold ">Lorem ipsum dolor sit amet.</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                            <div class="col-4">
                                <div class="date ">2019 - 2020</div>

                            </div>
                            <div class="col-8">
                                <ul>
                                    <li>
                                        <div class="info ">
                                            <p class="semi-bold ">Lorem ipsum dolor sit amet.</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-4">
                                <div class="date ">2017 - 2018</div>

                            </div>
                            <div class="col-8">
                                <ul>
                                    <li>
                                        <div class="info ">
                                            <p class="semi-bold ">Lorem ipsum dolor sit amet.</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!</p>
                                        </div>
                                    </li>
                                </ul>

                            </div>




                        </div>

                    </div>
                    <div class="resume_item resume_skills ">
                        <div class="title ">
                            <p class="bold ">Compétence</p>
                        </div>

                        <ul>
                            <li>
                                <div class="skill_name ">
                                    HTML
                                </div>
                                <div class="skill_progress ">
                                    <span style="width: 80%; "></span>
                                </div>
                                <div class="skill_per ">80%</div>
                            </li>
                            <li>
                                <div class="skill_name ">
                                    CSS
                                </div>
                                <div class="skill_progress ">
                                    <span style="width: 70%; "></span>
                                </div>
                                <div class="skill_per ">70%</div>
                            </li>
                            <li>
                                <div class="skill_name ">
                                    SASS
                                </div>
                                <div class="skill_progress ">
                                    <span style="width: 90%; "></span>
                                </div>
                                <div class="skill_per ">90%</div>
                            </li>
                            <li>
                                <div class="skill_name ">
                                    JS
                                </div>
                                <div class="skill_progress ">
                                    <span style="width: 60%; "></span>
                                </div>
                                <div class="skill_per ">60%</div>
                            </li>
                            <li>
                                <div class="skill_name ">
                                    JQUERY
                                </div>
                                <div class="skill_progress ">
                                    <span style="width: 88%; "></span>
                                </div>
                                <div class="skill_per ">88%</div>
                            </li>
                        </ul>
                    </div>
                </div>

            </td>
        </tr>
       </table>




    </div>
</div>
