<div class="divinf">


  <div class="btn-group  col-12 txtitre">
    <a data-toggle="collapse" data-target="#infoperso" aria-expanded="false" aria-controls="infoperso"
      class="btn text-start">
      <h4>Informations personnelles</h4>
    </a>
    <a data-toggle="collapse" data-target="#infoperso" aria-expanded="false" aria-controls="infoperso"
      class="btn text-end"><i class="fa-regular fa-plus fa-6x btn"
        style="border: 2px solid #000; font-size: 15px;"></i></a>
  </div>


  <div class=" container px-5 collapse col-12" id="infoperso">
    <!-- <button class="btn btn-primary" (click)="deposit()">+</button> -->
    <div class="form-group row">







      <div class="col-md-3">
        <label for="photoUrl">Photo</label>

        <img src="{{imagee}}" alt="">




        <ngp-image-picker [_config]="imagePickerConf" ($imageChanged)="onImageChanged($event)" class="shadow img-fluid">
        </ngp-image-picker>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="prenom">Prénom</label>
              <input #prenom="ngModel" [(ngModel)]="cvInformationPersnnelleData.prenom" name="prenom" id="prenom" type="text"
                class="form-control" (input)="launchValueOne($event, 'prenom')" required />
              <!-- <div
                      class="alert alert-danger"
                      *ngIf="prenom.touched && prenom.invalid"
                    >
                      Prenom is required.
                    </div> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="nomfamille">Nom de Famille</label>
              <input #nomfamille="ngModel" [(ngModel)]="cvInformationPersnnelleData.nomfamille" name="nomfamille" id="nomfamille" type="text"
                class="form-control" (input)="launchValueOne($event, 'nom')" required />

            </div>
          </div>
        </div>
        <div class="form-group text-gray-400 text-base">
          <label for="mail">Email</label>
          <input #mail="ngModel" [(ngModel)]="cvInformationPersnnelleData.mail" name="mail" id="mail" type="text" class="form-control"
          (input)="launchValueOne($event, 'mail')" />
          <!-- <div
                  class="alert alert-danger"
                  *ngIf="mail.touched && mail.invalid"
                >
                  Email is required.
                </div> -->
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="titreprofil">Titre du profil</label>
      <input #titreprofil="ngModel" [(ngModel)]="cvInformationPersnnelleData.titreprofil" name="titreprofil" id="titreprofil" type="text"
        placeholder="" class="form-control"  (input)="launchValueOne($event, 'titre')" />
      <!-- <div class="alert alert-danger" *ngIf="titreprofil.touched && titreprofil.invalid">
              Titre profil is required.
            </div> -->
    </div>
    <div class="form-group">
      <label for="titreprofil">Numéro de Téléphone</label>
      <input #tel="ngModel" [(ngModel)]="cvInformationPersnnelleData.tel" name="tel" id="tel" type="text" class="form-control"
      (input)="launchValueOne($event, 'tel')" />
      <!-- <div class="alert alert-danger" *ngIf="tel.touched && tel.invalid">
              Numéro de téléphone is required.
            </div> -->
    </div>
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input #adresse="ngModel" [(ngModel)]="cvInformationPersnnelleData.adresse" name="adresse" id="adresse" type="text" class="form-control"
      (input)="launchValueOne($event, 'adresse')" />
      <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
              Adresse is required.
            </div> -->
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="codepostal">Code Postal</label>
          <input #codepostal="ngModel" [(ngModel)]="cvInformationPersnnelleData.codepostal" name="codepostal" id="codepostal" type="text"
            class="form-control" (input)="launchValueOne($event, 'code')"/>
          <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                  Adresse is required.
                </div> -->
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="ville">Ville</label>
          <input #ville="ngModel" [(ngModel)]="cvInformationPersnnelleData.ville" name="ville" id="ville" type="text" class="form-control"
          (input)="launchValueOne($event, 'ville')" />
          <!-- <div class="alert alert-danger" *ngIf="adresse.touched && adresse.invalid">
                  Adresse is required.
                </div> -->
        </div>
      </div>
    </div>
    <button data-toggle="collapse" data-target="#dateNaiss" aria-expanded="false" aria-controls="infoperso"
      class="btn text-start" class="btn btn-plus m-1 " style="border: 1px solid #000;" ><i
        class="fa-regular fa-plus h-6"></i> Date de naissance</button>







    <div class="form-group row collapse" id="dateNaiss">

      <div class="form-group">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="nomfamille">Date de Naissance</label>
              <input #nomfamille="ngModel" [(ngModel)]="cvInformationPersnnelleData.dateNaissance" name="dateNaissance" id="dateNaissance"
                type="date" class="form-control" (input)="launchValueOne($event, 'dateNaiss')" required />

            </div>
          </div>
        </div>

      </div>
    </div>


    <button data-toggle="collapse"
  data-target="#lieuNaiss"
  aria-expanded="false"
  aria-controls="infoperso"
   class="btn text-start"
   class="btn btn-plus m-1" style="border: 1px solid #000; "><i class="fa-regular fa-plus h-6" ></i> Lieu de naissance</button>



   <div class="form-group row collapse" id="lieuNaiss">

    <div class="form-group">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="nomfamille">Lieu de Naissance</label>
            <input #nomfamille="ngModel" [(ngModel)]="cvInformationPersnnelleData.lieuNaissance" name="lieuNaissance" id="lieuNaissance"
              type="text" class="form-control" (input)="launchValueOne($event, 'lieuNaiss')" required />

          </div>
        </div>
      </div>

    </div>
  </div>



  <button data-toggle="collapse" data-target="#etatc" aria-expanded="false" aria-controls="infoperso"
  class="btn text-start" class="btn btn-plus m-1 " style="border: 1px solid #000;"><i
    class="fa-regular fa-plus h-6"></i> Etat civile</button>
<div class="form-group row collapse" id="etatc">

  <div class="form-group">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="nomfamille">Etat civile</label>
          <input #nomfamille="ngModel" [(ngModel)]="cvInformationPersnnelleData.etatCivil" name="etatCivil" id="etatCivil"
            type="text" class="form-control" (input)="launchValueOne($event, 'etatCivile')" required />

        </div>
      </div>
    </div>

  </div>
</div>





<button data-toggle="collapse" data-target="#permis" aria-expanded="false" aria-controls="infoperso"
  class="btn text-start" class="btn btn-plus m-1 " style="border: 1px solid #000;"><i
    class="fa-regular fa-plus h-6"></i> Permis de conduire</button>
<div class="form-group row collapse" id="permis">

  <div class="form-group">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="nomfamille">Permis de conduire</label>
          <input #nomfamille="ngModel" [(ngModel)]="cvInformationPersnnelleData.permisConduire" name="permisConduire" id="permisConduire"
            type="text" class="form-control" (input)="launchValueOne($event, 'permis')" required />

        </div>
      </div>
    </div>

  </div>
</div>






  </div>

</div>
