<h1>{{cvInfo?.prenom}}</h1>
<h1>{{cvInfo?.nomfamille}}</h1>
<h1>{{cvInfo?.adresse}}</h1>

<h1>{{cvInfo?.description}}</h1>

<td>{{cvInfo?.nomformation}}</td>

<tbody>
    <tr *ngFor="let item of cvInfo.formation">
       
        
        <td>{{item.cvInfo?.nomformationT}}</td>
     
    </tr>
<tbody>)



<button [print]="['print-section', config2]" class="btn btn-main-2 mb-2">Print table</button>




<article class="resume-wrapper text-center position-relative shadow-lg" (amount)="amount" id="print-section">
    <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
        <header class="resume-header pt-4 pt-md-0" style="background-color: #343a40;">
            <div class="row">
                <div class="col-block col-md-auto resume-picture-holder text-center text-md-start">
                    <img class="picture" src="assets/images/profile.jpg" alt="">
                </div>
                <!--//col-->
                <div class="col">
                    <div class="row p-4 justify-content-center justify-content-md-between">
                        <div class="primary-info col-auto ">
                            <h3 class="name mt-0 mb-1 text-white text-uppercase  text-justify">Steve Doe</h3>
                            <div class="title mb-3 text-white text-justify">Full Stack Developer</div>
                            <ul class="list-unstyled">
                                <li class="mb-2 text-white text-justify"><i class="far fa-envelope fa-fw me-2"
                                        data-fa-transform="grow-3"></i>Steve.Doe@website.com</li>
                                <li class="text-white text-justify"><i class="fas fa-mobile-alt fa-fw me-2"
                                        data-fa-transform="grow-6"></i>0123 456 78900</li>
                            </ul>
                        </div>
                        <!--//primary-info-->
                        <div class="secondary-info col-auto mt-2">
                            <img src="https://i.imgur.com/eCijVBe.png " alt="profile_pic"
                                style="height: 160px; border-radius: 50%;">
                        </div>
                        <!--//secondary-info-->
                    </div>
                    <!--//row-->

                </div>
                <!--//col-->
            </div>
            <!--//row-->
        </header>
        <div class="resume-body px-5 pt-3">
            <section class="resume-section summary-section mb-1">
                <h4 class="resume-section-title text-justify font-weight-bold  mb-2" style="color: #343a40;">Profil
                </h4>
                <div class="resume-section-content">
                    <p class=" text-justify">Summarise your career here. <a class="text-reset text-link"
                            href="https://themes.3rdwavemedia.com/resources/sketch-template/pillar-sketch-sketch-resume-template-for-developers/"
                            target="_blank">You can make a PDF version of your resume using our free Sketch template
                            here</a>.
                        Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis
                        parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.
                        Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                        magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                        pellentesque eu, pretium quis, sem. Nulla
                        consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget. Lorem
                        ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
                <!--//summary-section-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="resume-section experience-section mb-2">
                            <h4 class="text-justify text-uppercase font-weight-bold pb-3 mb-3" style="color: #343a40;">
                                Experiences</h4>
                            <div class="resume-section-content">
                                <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative pb-5">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class=" text-justify" style="color: #343a40;">2020 - Present</div>
                                            </div>
                                            <div class="col-8">
                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h5
                                                            class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead Developer</h5>
                                                    </div>
                                                    <!--//row-->

                                                </div>
                                                <!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <p class="text-justify">Role description goes here ipsum dolor sit
                                                        amet,
                                                        consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                                        Aenean massa. Cum sociis natoque penatibus et magnis dis
                                                        parturient
                                                        montes, nascetur ridiculus
                                                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                                        quis,
                                                        sem. Donec pede justo, fringilla vel.</p>
                                                </div>
                                                <!--//resume-timeline-item-desc-->

                                            </div>
                                        </div>



                                    </article>
                                    <article class="resume-timeline-item position-relative pb-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class=" text-justify" style="color: #343a40;">2020 - Present</div>
                                            </div>
                                            <div class="col-8">
                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h5
                                                            class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead Developer</h5>
                                                    </div>
                                                    <!--//row-->

                                                </div>
                                                <!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <p class="text-justify">Role description goes here ipsum dolor sit
                                                        amet,
                                                        consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                                        Aenean massa. Cum sociis natoque penatibus et magnis dis
                                                        parturient
                                                        montes, nascetur ridiculus
                                                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                                        quis,
                                                        sem. Donec pede justo, fringilla vel.</p>
                                                </div>
                                                <!--//resume-timeline-item-desc-->

                                            </div>
                                        </div>



                                    </article>
                                    <article class="resume-timeline-item position-relative pb-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class=" text-justify" style="color: #343a40;">2020 - Present</div>
                                            </div>
                                            <div class="col-8">
                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h5
                                                            class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead Developer</h5>
                                                    </div>
                                                    <!--//row-->

                                                </div>
                                                <!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <p class="text-justify">Role description goes here ipsum dolor sit
                                                        amet,
                                                        consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                                        Aenean massa. Cum sociis natoque penatibus et magnis dis
                                                        parturient
                                                        montes, nascetur ridiculus
                                                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                                        quis,
                                                        sem. Donec pede justo, fringilla vel.</p>
                                                </div>
                                                <!--//resume-timeline-item-desc-->

                                            </div>
                                        </div>



                                    </article>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <h4 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3 text-justify">
                                    Compétences</h4>
        
        
                                <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative pb-2 ">
                                        <div class="row">
                                            <div class="col-3"></div>
                                            <div class="col-9">
                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h5 class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead
                                                            Developer</h5>
                                                    </div>
                                                </div>
                                                <!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <ul class="list-unstyled mb-4">
                                                        <li class="mb-2">
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark"
                                                                    role="progressbar" style="width: 98%" aria-valuenow="25"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
        
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <h4 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3 text-justify">Langue
                                </h4>
        
        
                                <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative pb-2 ">
                                        <div class="row">
                                            <div class="col-3"></div>
                                            <div class="col-9">
                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h5 class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Kim</h5>
                                                    </div>
                                                </div>
                                                <!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <ul class="list-unstyled mb-4">
                                                        <li class="mb-2">
        
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark"
                                                                    role="progressbar" style="width: 98%; height:20px"
                                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
        
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
        
                            <!--Centre d'interet-->
                            <div class="col-lg-12">
                                <h4 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3 text-justify">Centre
                                    D'interet et loisirs</h4>
        
        
                                <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative pb-2 ">
                                        <div class="row">
                                            <div class="col-3"></div>
                                            <div class="col-9">
                                                <div class="row resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row col-3">
                                                        <h6 class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead
                                                            Developer</h6>
                                                    </div>
                                                    <div class="d-flex flex-column flex-md-row col-3">
                                                        <h6 class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead
                                                            Developer</h6>
                                                    </div>
                                                    <div class="d-flex flex-column flex-md-row col-3">
                                                        <h6 class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead
                                                            Developer</h6>
                                                    </div>
                                                    <div class="d-flex flex-column flex-md-row col-3">
                                                        <h6 class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead
                                                            Developer</h6>
                                                    </div>
                                                </div>
        
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
        
                        </section>
                        <!--//experience-section-->
                    </div>
                    



                    <!--Langue-->



                  



                </div>
                <!--//row-->
            </section>

        </div>
        <!--//resume-body-->


    </div>
</article>