
<h1>{{cvInfo?.adresse}}</h1>






<button [print]="['print-section', config2]" class="btn btn-main-2 mb-2">Print table</button>




<article class="resume-wrapper text-center position-relative shadow-lg" (amount)="amount" id="print-section">
    <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg">
        <header class="resume-header pt-4 pt-md-0" style="background-color: #343a40;">
            <div class="row">
                <div class="col-block col-md-auto resume-picture-holder text-center text-md-start">
                    <img class="picture" src="assets/images/profile.jpg" alt="">
                </div>
                <!--//col-->
                <div class="col">
                    <div class="row p-4 justify-content-center justify-content-md-between">
                        <div class="primary-info col-auto ">
                            <h3 class="name mt-0 mb-1 text-white text-uppercase  text-justify">{{cvInfo?.prenom + " " + cvInfo?.nomfamille }}</h3>
                            <div class="title mb-3 text-white text-justify">{{cvInfo?.titreprofil}}</div>
                            <ul class="list-unstyled">
                                <li class="mb-2 text-white text-justify"><i class="far fa-envelope fa-fw me-2"
                                        data-fa-transform="grow-3"></i>{{cvInfo?.mail}}</li>
                                <li class="text-white text-justify"><i class="fas fa-mobile-alt fa-fw me-2"
                                        data-fa-transform="grow-6"></i>{{cvInfo?.tel}}</li>
                                <li class="text-white text-justify"><i class="fas fa-home fa-fw me-2"
                                            data-fa-transform="grow-6"></i>{{cvInfo?.codepostal + "/"+ cvInfo?.adresse + "/"+ cvInfo?.ville}}</li>
                            </ul>
                        </div>
                        <!--//primary-info-->
                        <div class="secondary-info col-auto mt-2">
                            <img src="https://i.imgur.com/eCijVBe.png " alt="profile_pic"
                                style="height: 160px; border-radius: 50%;">
                        </div>
                        <!--//secondary-info-->
                    </div>
                    <!--//row-->

                </div>
                <!--//col-->
            </div>
            <!--//row-->
        </header>
        <div class="resume-body px-5 pt-3">
            <section class="resume-section summary-section mb-1">
                <h4 class="resume-section-title text-justify font-weight-bold  mb-2" style="color: #343a40;">Profil
                </h4>
                <div class="resume-section-content">
                    <p class=" text-justify">{{cvInfo?.description}}</p>
                </div>
                <!--//summary-section-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="resume-section experience-section mb-2">
                            <h4 class="text-justify text-uppercase font-weight-bold pb-3 mb-3" style="color: #343a40;">
                                Experiences</h4>
                            <div class="resume-section-content">
                                <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative pb-5">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class=" text-justify" style="color: #343a40;">2020 - Present</div>
                                            </div>
                                            <div class="col-8">
                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h5
                                                            class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead Developer</h5>
                                                    </div>
                                                    <!--//row-->

                                                </div>
                                                <!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <p class="text-justify">Role description goes here ipsum dolor sit
                                                        amet,
                                                        consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                                        Aenean massa. Cum sociis natoque penatibus et magnis dis
                                                        parturient
                                                        montes, nascetur ridiculus
                                                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                                        quis,
                                                        sem. Donec pede justo, fringilla vel.</p>
                                                </div>
                                                <!--//resume-timeline-item-desc-->

                                            </div>
                                        </div>



                                    </article>
                                    <article class="resume-timeline-item position-relative pb-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class=" text-justify" style="color: #343a40;">2020 - Present</div>
                                            </div>
                                            <div class="col-8">
                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h5
                                                            class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead Developer</h5>
                                                    </div>
                                                    <!--//row-->

                                                </div>
                                                <!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <p class="text-justify">Role description goes here ipsum dolor sit
                                                        amet,
                                                        consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                                        Aenean massa. Cum sociis natoque penatibus et magnis dis
                                                        parturient
                                                        montes, nascetur ridiculus
                                                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                                        quis,
                                                        sem. Donec pede justo, fringilla vel.</p>
                                                </div>
                                                <!--//resume-timeline-item-desc-->

                                            </div>
                                        </div>



                                    </article>
                                    <article class="resume-timeline-item position-relative pb-2">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class=" text-justify" style="color: #343a40;">2020 - Present</div>
                                            </div>
                                            <div class="col-8">
                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h5
                                                            class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead Developer</h5>
                                                    </div>
                                                    <!--//row-->

                                                </div>
                                                <!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <p class="text-justify">Role description goes here ipsum dolor sit
                                                        amet,
                                                        consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                                        Aenean massa. Cum sociis natoque penatibus et magnis dis
                                                        parturient
                                                        montes, nascetur ridiculus
                                                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                                        quis,
                                                        sem. Donec pede justo, fringilla vel.</p>
                                                </div>
                                                <!--//resume-timeline-item-desc-->

                                            </div>
                                        </div>



                                    </article>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <h4 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3 text-justify">
                                    Compétences</h4>
        
        
                                <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative pb-2 ">
                                        <div class="row">
                                            <div class="col-3"></div>
                                            <div class="col-9">
                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h5 class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead
                                                            Developer</h5>
                                                    </div>
                                                </div>
                                                <!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <ul class="list-unstyled mb-4">
                                                        <li class="mb-2">
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark"
                                                                    role="progressbar" style="width: 98%" aria-valuenow="25"
                                                                    aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
        
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <h4 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3 text-justify">Langue
                                </h4>
        
        
                                <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative pb-2 ">
                                        <div class="row">
                                            <div class="col-3"></div>
                                            <div class="col-9">
                                                <div class="resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row">
                                                        <h5 class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Kim</h5>
                                                    </div>
                                                </div>
                                                <!--//resume-timeline-item-header-->
                                                <div class="resume-timeline-item-desc">
                                                    <ul class="list-unstyled mb-4">
                                                        <li class="mb-2">
        
                                                            <div class="progress resume-progress">
                                                                <div class="progress-bar theme-progress-bar-dark"
                                                                    role="progressbar" style="width: 98%; height:20px"
                                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
        
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
        
                            <!--Centre d'interet-->
                            <div class="col-lg-12">
                                <h4 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3 text-justify">Centre
                                    D'interet et loisirs</h4>
        
        
                                <div class="resume-timeline position-relative">
                                    <article class="resume-timeline-item position-relative pb-2 ">
                                        <div class="row">
                                            <div class="col-3"></div>
                                            <div class="col-9">
                                                <div class="row resume-timeline-item-header mb-2">
                                                    <div class="d-flex flex-column flex-md-row col-3">
                                                        <h6 class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead
                                                            Developer</h6>
                                                    </div>
                                                    <div class="d-flex flex-column flex-md-row col-3">
                                                        <h6 class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead
                                                            Developer</h6>
                                                    </div>
                                                    <div class="d-flex flex-column flex-md-row col-3">
                                                        <h6 class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead
                                                            Developer</h6>
                                                    </div>
                                                    <div class="d-flex flex-column flex-md-row col-3">
                                                        <h6 class="resume-position-title font-weight-bold mb-1 text-justify">
                                                            Lead
                                                            Developer</h6>
                                                    </div>
                                                </div>
        
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
        
                        </section>
                        <!--//experience-section-->
                    </div>
                    



                    <!--Langue-->



                  



                </div>
                <!--//row-->
            </section>

        </div>
        <!--//resume-body-->


    </div>
</article>