.mdc-top-app-bar{
  background-color: #1d1d20;
}
.nomform input[type=text]:focus {
  box-shadow: none;
  border:none;
  color: #fff;

}
.nomform input[type=text] {
  box-shadow: none;
  height: 22px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;

}


.cvPrototype{
  background-color: rgba(9, 151, 124, 0.5);

  height: 90vh;
  width: 100%;
  position: relative;

}
.cvfonction{

  position: absolute;
  bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;

}


.div-default {
  display: none;
}

.div-changed {
 width: 100vh;
}
