<div class="container bg-gray p-5 shadow">
    <h2 class="mb-3">PAYEMENT D'INSCRIPTION</h2>

    <div class="container  py-5 shadow-sm"
        style="background-color: rgb(250, 248, 248); padding-left: 12.5%; padding-right:12.5% ;">

        <div class="container  shadow-lg text-center p-5 bg-light ">
            <h4 class="">le montant de l'inscription</h4>

            <h1 class=" mt-5 mb-4">100.000 FCFA</h1>
            <button class="btn up-btn mt-5 col-6" data-toggle="modal" data-target="#modalPayement">Choissiez le mode de
                paiements</button>

        </div>

    </div>



</div>


<!-- Modal -->
<div class="modal fade " id="modalPayement" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-satarted modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> Choix du mode de payement </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="container">

                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item mabtn">
                            <a class="nav-link active text-center " (click)="choixPayement(1)" id="pills-home-tab"
                                data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">Tmoney</a>
                        </li>
                        <li class="nav-item mabtn">
                            <a class="nav-link  text-center" id="pills-profile-tab" (click)="choixPayement(2)"
                                data-toggle="pill" role="tab" aria-controls="pills-profile"
                                aria-selected="false">PayeGate</a>
                        </li>
                        <li class="nav-item mabtn">
                            <a class="nav-link  text-center" id="pills-contact-tab" (click)="choixPayement(3)"
                                data-toggle="pill" role="tab" aria-controls="pills-contact"
                                aria-selected="false">Contact</a>
                        </li>
                        <li class="nav-item mabtn">
                            <a class="nav-link  text-center" id="pills-contact-tab" (click)="choixPayement(3)"
                                data-toggle="pill" role="tab" aria-controls="pills-contact"
                                aria-selected="false">Contact</a>
                        </li>
                    </ul>

                </div>

                <div class=" container mt-5">

                    <section *ngIf="value == 1">
                        <div _ngcontent-jlx-c234="" role="tabpanel" aria-labelledby="pills-home-tab"
                        class="tab-pane active">
                        <div _ngcontent-jlx-c234="" class="card card-body p-4 shadow-lg border-0">
                            <div _ngcontent-jlx-c234="" class="my-4">
                                <h6  class="fw-bold text-primar text-center"> Paiement par TMoney
                                     </h6>
                                <div  class="flex">
                                    <div  class="bar">
                                        <div  class="bar-in"></div>
                                    </div>
                                </div>
                            </div>
                            <div  class="my-4">
                                <div  class="row">
                                    <div  class="col-md-6">
                                        <div  class="d-flex justify-content-center"><img
                                                 src="../../../../../../assets/images/paye/Logo-TMONEY_Fond-Jaune-Togocom-11.png" alt=""
                                                class="img-fluid"></div>
                                    </div>
                                    <div  class="col-md-6">
                                        <form  novalidate=""
                                            class="ng-untouched ng-dirty ng-invalid">
                                            <div  class="row">
                                                <div  class="col-md-12 mb-3 form-group">
                                                    <label  for="telephone"
                                                        class="form-label">Numero de
                                                        telephone</label>
                                                        <ngx-intl-tel-input
                                                         name="phone"
                                                        formcontrolname="telephone" _nghost-jlx-c107=""
                                                        class="ng-untouched ng-dirty ng-invalid">
                                                        <div _ngcontent-jlx-c107=""
                                                            class="iti iti--allow-dropdown separate-dial-code iti-sdc-4">
                                                            <div _ngcontent-jlx-c107="" dropdown=""
                                                                class="iti__flag-container">
                                                                <div _ngcontent-jlx-c107="" dropdowntoggle=""
                                                                    class="iti__selected-flag dropdown-toggle"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                    <div _ngcontent-jlx-c107=""
                                                                        class="iti__flag iti__tg"></div>
                                                                    <div _ngcontent-jlx-c107=""
                                                                        class="selected-dial-code">+228</div>
                                                                    
                                                                    <div _ngcontent-jlx-c107=""
                                                                        class="iti__arrow"></div>
                                                                </div>
                                                            </div><input _ngcontent-jlx-c107=""
                                                                type="tel" autocomplete="off" id="phone"
                                                                placeholder="22 21 23 45" maxlength="15"
                                                                validation="true"
                                                                class="form-control w-100 ng-untouched ng-pristine ng-valid">
                                                        </div>
                                                      </ngx-intl-tel-input> 
                                                    <div  class="invalid-feedback">
                                                        Veuillez saisir votre numero de telephone! </div>
                                                </div>
                                                <div  class="col-md-12 mb-3 form-group">
                                                    <label  for=""
                                                        class="form-label">Confirmer le n° de
                                                        téléphone</label>
                                                <ngx-intl-tel-input
                                                         name="phone"
                                                        formcontrolname="confirmation" _nghost-jlx-c107=""
                                                        class="ng-untouched ng-dirty ng-invalid">
                                                        <div _ngcontent-jlx-c107=""
                                                            class="iti iti--allow-dropdown separate-dial-code iti-sdc-4">
                                                            <div _ngcontent-jlx-c107="" dropdown=""
                                                                class="iti__flag-container">
                                                                <div _ngcontent-jlx-c107="" dropdowntoggle=""
                                                                    class="iti__selected-flag dropdown-toggle"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                    <div _ngcontent-jlx-c107=""
                                                                        class="iti__flag iti__tg"></div>
                                                                    <div _ngcontent-jlx-c107=""
                                                                        class="selected-dial-code">+228</div>
                                                                    
                                                                    <div _ngcontent-jlx-c107=""
                                                                        class="iti__arrow"></div>
                                                                </div>
                                                            </div><input _ngcontent-jlx-c107=""
                                                                type="tel" autocomplete="off" id="phone"
                                                                placeholder="22 21 23 45" maxlength="15"
                                                                validation="true"
                                                                class="form-control w-100 ng-untouched ng-pristine ng-valid">
                                                        </div>
                                                    </ngx-intl-tel-input> 
                                                    <div  class="invalid-feedback">
                                                        Veuillez saisir votre numero de telephone! </div>
                                                </div>
                                                <div 
                                                    class="col-md-12 my-4 form-group d-flex justify-content-end">
                                                    <button  type="submit"
                                                        class="btn btn-primary" disabled="false"> Valider le paiement
                                                        <!----></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </section>
                    <section *ngIf="value == 2">
                        <div _ngcontent-jlx-c234="" role="tabpanel" aria-labelledby="pills-home-tab"
                        class="tab-pane active">
                        <div  class="card card-body p-4 shadow-lg border-0">
                            <div  class="my-4">
                                <h6  class="fw-bold text-primar text-center"> Paiement par
                                    PayGate</h6>
                                <div  class="flex">
                                    <div  class="bar">
                                        <div  class="bar-in"></div>
                                    </div>
                                </div>
                            </div>
                            <div  class="my-4">
                                <div  class="row">
                                    <div class="col-3"></div>
                                    <div  class="col-md-6 bordered-1 p-3" style=" border: 1px solid #09977C; ">
                                        <div  class="d-flex justify-content-center"><img
                                                 src="../../../../../../assets/images/paye/payeGate.png" alt=""
                                                class="img-fluid">
                                                
                                            
                                        </div>

                                        <div class="mt-5 justify-content-center">
                                            <button class="btn btn-main">Proceder</button>
                                        </div>

                                              
                                    </div>
                                    <div class="col-3"></div>

                                </div>
                            </div>
                        </div>
                    </div>

                    </section>

                    <section *ngIf="value == 3">
                        <div _ngcontent-jlx-c234="" role="tabpanel" aria-labelledby="pills-home-tab"
                        class="tab-pane active">
                        <div  class="card card-body p-4 shadow-lg border-0">
                            <div  class="my-4">
                                <h6  class="fw-bold text-primar text-center"> Paiement par
                                    Carte Visa</h6>
                                <div  class="flex">
                                    <div  class="bar">
                                        <div  class="bar-in"></div>
                                    </div>
                                </div>
                            </div>
                            <div  class="my-4">
                                <div  class="row">
                                    <div  class="col-md-6">
                                        <div  class="d-flex justify-content-center"><img
                                                 src="../../../../../../assets/images/paye/MasterCard_Logo.svg.png" alt=""
                                                class="img-fluid">
                                         </div>
                                    </div>
                                    <div class="col-md-6">
                                        <form action="">

                                        </form>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    </section>



                    <p *ngIf="value == 2">mana</p>
                    <p *ngIf="value == 3">koisonn</p>

                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>