
    <div class="container bg-gray p-5 shadow">
        <h2 class="mb-3">PAYEMENT D'INSCRIPTION</h2>

        <div class="container  py-5 shadow-sm" style="background-color: rgb(250, 248, 248); padding-left: 12.5%; padding-right:12.5% ;">

            <div class="container  shadow-lg text-center p-5 bg-light ">
                <h4 class="">le montant de l'inscription</h4>

                <h1 class=" mt-5 mb-4">100.000 FCFA</h1>
                <button class="btn up-btn mt-5 col-6">Choissiez le mode de paiements</button>

            </div>

        </div>
       
        

    </div>

