


<div class="justify-content-center px-3 mt-0 shadow" style="width: 100%; max-height: 78vh; border-radius: 0.3rem; overflow: hidden; overflow-y: scroll;">

<app-cv-type1 *ngIf="value == 1" class="container-xxl shadow bg-white"  ></app-cv-type1>
<app-cv-type2 *ngIf="value == 2" class="container-xxl shadow bg-white" ></app-cv-type2>
<app-cv-type3 *ngIf="value == 3" class="container-xxl shadow bg-white" ></app-cv-type3>
<app-cv-type4 *ngIf="value == 4" class="container-xxl shadow bg-white" ></app-cv-type4>
<app-cv-type5 *ngIf="value == 5" class="container-xxl shadow bg-white" ></app-cv-type5>


</div>


<div class="col-12  cvfonction ">

    <app-btn-pied-model (sendInformation)="sendInformation($event)"></app-btn-pied-model>



</div>
