
<footer class="footer section ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 mr-auto col-sm-6">
        <div class="widget mb-5 mb-lg-0">
          <!-- <div class="logo mb-4">
            <img
              src="./assets/images/ma/EMPLOI AFRIQUE-05.jpg"
              alt=""
              class="img-fluid"
            />
          </div> -->
          <div class="widget ml-5 mb-lg-0">
            <h4 class="text-capitalize mb-3 text-white">Dommaines les plus recherchés</h4>
            <div class="divider mb-4"></div>

            <ul class="list-unstyled footer-menu lh-35">
              <li><a href="#!">Education</a></li>
              <li><a href="#!">Construction</a></li>
              <li><a href="#!">Gestion</a></li>
              <li><a href="#!">Commerce</a></li>
            </ul>
          </div>





          <ul class="list-inline footer-socials mt-4 ">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/"><i class="icofont-facebook"></i></a>
              <i class="bi bi-facebook"></i>
            </li>
            <li class="list-inline-item">
             <a href="https://twitter.com/"><i class="icofont-twitter"></i></a>
              <i class="bi bi-twitter"></i>
            </li>
            <li class="list-inline-item">
              <a href="https://www.pinterest.com/t/"><i class="icofont-linkedin"></i></a>
              <i class="bi bi-whatsapp"></i>
            </li>
          </ul>
        </div>
      </div>


      <div class="col-lg-2 col-md-6 col-sm-6 lh-35">
        <div class="widget mb-5 mb-lg-0">
          <h4 class="text-capitalize mb-3 text-white">Nos secteurs d'activités</h4>
          <div class="divider mb-4"></div>
          <ul class="list-unstyled footer-menu lh-35">
            <li><a href="#!">Administratif</a></li>
              <li><a href="#!">Aeronautique</a></li>
              <li><a href="#!">Agroalimentaire</a></li>
              <li><a href="#!">BTP</a></li>
              <li><a href="#!">ART</a></li>
              <li><a href="#!">Artisant</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="widget mb-5 mb-lg-0">
          <h4 class="text-capitalize mb-3 text-white">Dommaines les plus recherchés</h4>
          <div class="divider mb-4"></div>

          <ul class="list-unstyled footer-menu lh-35">
            <li><a href="#!">Education</a></li>
            <li><a href="#!">Construction</a></li>
            <li><a href="#!">Gestion</a></li>
            <li><a href="#!">Commerce</a></li>
            <li><a href="#!">Informatique</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="widget mb-5 mb-lg-0">
          <h4 class="text-capitalize mb-3 text-white">Support</h4>
          <div class="divider mb-4"></div>

          <ul class="list-unstyled footer-menu lh-35">
            <li><a href="#!">Terms & Conditions</a></li>
            <li><a href="#!">Privacy Policy</a></li>
            <li><a href="#!">Company Support </a></li>
            <li><a href="#!">FAQuestions</a></li>
            <li><a href="#!">Company Licence</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="widget mb-5 mb-lg-0">
          <h4 class="text-capitalize mb-3 text-white">CORPORATIF</h4>
          <div class="divider mb-4"></div>

          <ul class="list-unstyled footer-menu lh-35">
            <li><a href="#!">Nos campus</a></li>
            <li><a href="#!">Construction</a></li>
            <li><a href="#!">Gestion</a></li>
            <li><a href="#!">Commerce</a></li>
            <li><a href="#!">Informatique</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-btm py-4 mt-5 ">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-6">
          <div class="copyright text-white">
            Copyright &copy; 2021, Designed &amp; Developed by
            <a href="" class="text-white">Torogroupe</a>
          </div>
        </div>
        <div class="col-lg-6 ">
          <div class="subscribe-form text-lg-right mt-5 mt-lg-0">
            <form action="#" class="subscribe">
              <input
                type="text"
                class="form-control"
                placeholder="Votre adresse email"
                required
              />
              <button type="submit" class="btn btn-main-2 btn-round-full">
                S'inscrire
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <a class="backtop scroll-top-to" href="#top">
            <i class="icofont-long-arrow-up"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="base">
    <app-root></app-root>
  </div> -->
</footer>


<script src="./assets/styles/js/plugins/jquery/jquery.js"></script>
<script src="./assets/styles/js/plugins/bootstrap/bootstrap.min.js"></script>
<script src="./assets/styles/js/plugins/slick-carousel/slick/slick.min.js"></script>
<script src="./assets/styles/js/plugins/shuffle/shuffle.min.js"></script>

<!-- Google Map -->
<script src="./assets/styles/aos/aos.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA"></script>
<script src="./assets/styles/js/plugins/google-map/gmap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./assets/styles/js/main.js"></script>

<script>
  AOS.init()
</script>
<script>
  window.onload = (event) => {
    $('#base').removeClass('hidden');
    $('#spinner').addClass('hidden');
  }
</script>
