
@import '../../../../../../node_modules/intl-tel-input/build/css/intlTelInput.css';

*{
  font-family: Ubuntu, Medium;

}
h2{
  font-family: Ubuntu, Medium;
    font-weight: 600;
    font-size: 16px;
}










intl-tel-input { width: 100% !important; }


.img-forms{
  background: url('../../../../../assets/images/forms/forms1.jpg');
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  border-bottom-left-radius: 4rem;
  border-top-left-radius: 4rem;
}

.mafroms{
  border: 20px solid #507c1d;

 }
 .maformstext{
  text-shadow: 1px 1px 1px #09977C, 2px 2px 1px #09977C;
 }



.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}



.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=tel]:focus {
  box-shadow: none;
  border:none;
}
input[type=email], input[type=password], input[type=text], input[type=tel] {
  box-shadow: none;
  height: 22px;
  outline: none;
  font-size: 14px;
}


.ngx-file-drop__drop-zone {
  height: 180px;
     border-radius: 5px;
     font-size: 20px;
     object-fit: contain;


 }




 .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }


  .logo{


    border: 20px solid white;
    border-radius: 70%;
  }

  input[type=email],
  input[type=password],
  input[type=tel],
  input[type=date],
  input[type="text"],select{
    box-shadow: none;
    height: 45px;
    outline: none;
    font-size: 14px;
    border-radius: 0.3em;
    background-color: #f5f5f5;
  }

  input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=date]:focus,
textarea:focus ,select:focus{
    box-shadow: none;
    border: 1px solid #09977C;
    border-radius: 0.3em;
}


textarea {
    box-shadow: none;
    border-radius: 0.3em;
}

.up-btn{
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #09977C; /* Set a background color */
  width: 100%;
  box-shadow: 2px;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 2rem; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}


#btn-v1{
  width: 100%; border-radius: 4rem; font-size: 28px; color: #09977C;}












.inputGroup {
  background-color: #fff;
  display: block;
  margin: 0;
  height: 63px;
  position: relative;
  border: 1px solid #E3E3E3;

  border-radius: 8px;}


 .inputGroup label {
    padding: 18px 30px;
    width: 100%;
    border-radius: 0.75rem;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;}
   .inputGroup   label:before {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      content: '';
      background-color: #d9e0df;
      background-size: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }
   .inputGroup label:after {
      width: 32px;
      height: 32px;
      content: '';

      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='18.001' height='18.002' viewBox='0 0 18.001 18.002'%3e%3cpath id='choice' d='M7952-9658a9.011,9.011,0,0,1-9-9,9.01,9.01,0,0,1,9-9,9.011,9.011,0,0,1,9,9A9.012,9.012,0,0,1,7952-9658Zm0-13a4,4,0,0,0-4,4,4,4,0,0,0,4,4,4.006,4.006,0,0,0,4-4A4.005,4.005,0,0,0,7952-9671Z' transform='translate(-7943 9676.001)' fill='%23C1B7BA'/%3e%3c/svg%3e");

      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 8px;
      top: 52%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }


  input:checked ~ label {
    color: #09977C;
    font-family: Ubuntu, Medium;
    font-weight: 600;
    font-size: 16px;}

    input:checked ~ label:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;


    }

  .inputGroup  input:checked ~ label:after {

      color: #09977C;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20.001' height='18.002' viewBox='0 0 18.001 18.002'%3e%3cpath id='choice' d='M7952-9658a9.011,9.011,0,0,1-9-9,9.01,9.01,0,0,1,9-9,9.011,9.011,0,0,1,9,9A9.012,9.012,0,0,1,7952-9658Zm0-13a4,4,0,0,0-4,4,4,4,0,0,0,4,4,4.006,4.006,0,0,0,4-4A4.005,4.005,0,0,0,7952-9671Z' transform='translate(-7943 9676.001)' fill='%2309977C'/%3e%3c/svg%3e");
    }


 .inputGroup input {
    width: 28px;
    height: 8px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }




