<section>
  <div class="container-fluid p-3">
    <div class="row">

      <div class="col-md-3 " style="background-color: #09977C;">
        <div class="container mt-5 mb-3 ">
          <a href="" class="btn btn-light " style="width: 100%; border-radius: 4rem; font-size: 28px; color: #09977C;">
            Emploi


          </a>
        </div>
        <div class="logo mt-5 mb-5 text-center">
          <img src="../../../../../assets/images/forms/forms1.jpg" alt="" srcset=""
            style="width: 92%; border-radius: 50%; height: 50vh;  " class="m-3">
        </div>
        <div class="container mb-5">
          <a href="" class="btn btn-light" style="width: 100%; border-radius: 4rem;">



          </a>
        </div>

        <p class="text-white text-justify m-3" style="font-size: 22px; font-weight: 400;">Lorem ipsum dolor sit a
          quaerat vitae, sint pariatur quidem beatae obcaecati tenetur, ipsam magnam a eos ullam.</p>

      </div>
      <div class="col-md-9  " style="background-color: #09977C;">

        <div class="container">
          <div class="card shadow mt-5 m-3  text-black" >
           <form action="">

            <div class="row d-flex p-4">
              <div class="col-md-8 ">

                <div class="form-row mt-5 ">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Prenom">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Nom">
                  </div>
                  <div class="col">
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                </div>
                <div class="form-row mt-5">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Adresse">
                  </div>
                  <div class="col">
                    <input type="Date" class="form-control" placeholder="Date de naissance">
                  </div>
                  <div class="col">
                    <input type="email" class="form-control" placeholder="Tel">
                
                  </div>
                </div>
                <div class="form-group">
                  <label for = "name">Tel#: </label>
                 
                  <ngx-intl-tel-input
                  [cssClass]="'form-control form-control-lg'"
                  [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="true"
                  [enablePlaceholder]="true"
                  [searchCountryFlag]="true"
                  [searchCountryField]="[
                    SearchCountryField.Iso2,
                    SearchCountryField.Name
                  ]"
                  [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.Togo"
                  [maxLength]="15"
                  [phoneValidation]="true"
                  [separateDialCode]="separateDialCode"
                  [numberFormat]="PhoneNumberFormat.National"
                  name="phone"
                  formControlName="telephone"
                >
                </ngx-intl-tel-input>


                  
                </div>
              </div>
              <div class="col-md-4 text-justify p-5">
                <label for="">hirfififgjfgjhogfigjopjogiopgjgijgfijfgigf</label>



                <ngp-image-picker ($imageChanged)="onImageChanged($event)" class="shadow img-fluid"
                  [_config]="imagePickerConf"></ngp-image-picker>
              </div>
            </div>
           </form>

          </div>
        </div>


      </div>

    </div>
  </div>

</section>











<div class="container-fluid p-3">
  <div class="row">

    <div class="col-3 img-forms"></div>
    <div class="col-9 mafroms ">
      <div class="text-center my-5 maformstext">
        <h3>Faire partie <span style="color: #09977C;  text-shadow: 1px 1px 1px #09977C, 2px 2px 1px #6F8BA4;">de notre
            communauté mondiale</span> n'a jamais été aussi facile</h3>
      </div>
      <div class="row">
        <div class="col-sm-0 col-md-3"></div>
        <!-- <div class="col-sm-12 col-md-6 shadow pt-3 ">
          <div class="container ">
             <div class="body-forms">
               <form action="" class="justify-content-center">
                <div class="row input-group input-group-default example-container mb-3">
                  <mat-form-field hintLabel="Max 10 characters" appearance="fill"class="col-sm-12 col-md-6 ">
                    <mat-label>Enter votre nom</mat-label>
                    <input matInput #input maxlength="20" placeholder="Ex. Manes" >
                  </mat-form-field>
                  <mat-form-field hintLabel="Max 10 characters" appearance="fill" class="col-sm-12 col-md-6 ">
                    <mat-label>Enter votre prenom</mat-label>
                    <input matInput #input maxlength="20" placeholder="Ex. Mana" >
                  </mat-form-field>
                </div>
                <div class="row input-group input-group-default example-container mb-3">
                  <mat-form-field  appearance="fill"class="col-sm-12 col-md-6 ">
                    <mat-label>Adresse</mat-label>
                    <input matInput #input  placeholder="Ex. lomé" >
                  </mat-form-field>
                  <mat-form-field class="example-container col-sm-12 col-md-6" appearance="fill" >
                    <mat-label>Telephone</mat-label>
                    <span matPrefix>+228 &nbsp;</span>
                    <input type="text" matInput placeholder="555-555-1234">
                    <mat-icon matSuffix><i class="fa fa-phone"></i></mat-icon>
                  </mat-form-field>

                  <mat-form-field class="example-full-width col-sm-12 col-md-6 mb-2" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                           placeholder="Ex. ma@example.com" >
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Svp entrer un email valide
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field color="primary" appearance="fill">
                    <mat-label>Date de naissance</mat-label>
                    <input matInput [matDatepicker]="picker2">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="col-sm-12 col-md-6">
                    <mat-label>Enter votre mot de passe</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="col-sm-12 col-md-6">
                    <mat-label>Comfirmer votre mot de passe</mat-label>
                    <input matInput [type]="hide1 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                      <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <file-upload [control]="control" class="col-12 ngx-file-drop__drop-zone">
                    <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
                        <div *ngIf="control.size === 0">
                            <div class="icon">
                                <svg>...</svg>
                            </div>

                            <div class="upload-text">
                                <ng-container *ngIf="isFileDragDropAvailable; else isNotDragDropAvailable">
                                    <b>Drag and drop</b> files<br> ou click ici
                                </ng-container>
                                <ng-template #isNotDragDropAvailable>
                                    <b>Click ici</b> pour <br> choisir un photo
                                </ng-template>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template let-i="index" let-file="file" let-control="control" #item>
                        <div class="overlay">
                            <span class="delete-button" (click)="control.removeFile(file)">
                                <svg>...</svg>
                            </span>
                            <img *ngIf="control.valid" [src]="uploadedFile | async">
                        </div>
                    </ng-template>
                </file-upload>

                </div>

                 <div class="example-container">
                   <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                     <mat-label>Enterr votre nom</mat-label>
                     <input matInput #input maxlength="20" placeholder="Ex. Nougat">
                   </mat-form-field>




                   <mat-form-field appearance="fill" floatLabel="always">
                     <mat-label>Amount</mat-label>
                     <input matInput type="number" class="example-right-align" placeholder="0">
                     <span matPrefix>$&nbsp;</span>
                     <span matSuffix>.00</span>
                   </mat-form-field>
                 </div>


               </form>
             </div>
         </div>

        </div> -->


        <div class="col-xl-6">
          <div class="card-body p-md-5 text-black">
            <h3 class="mb-5 text-uppercase">Formulaire d'inscription</h3>

            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1m">Prenom</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1n">Nom</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example1m1" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1m1">Mother's name</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input type="text" id="form3Example1n1" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1n1">Father's name</label>
                </div>
              </div>
            </div>

            <div class="form-outline mb-4">
              <input type="text" id="form3Example8" class="form-control form-control-lg" />
              <label class="form-label" for="form3Example8">Addresse</label>
            </div>

            <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

              <h6 class="mb-0 me-4">Gender: </h6>

              <div class="form-check form-check-inline mb-0 me-4">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                  value="option1" />
                <label class="form-check-label" for="femaleGender">Feminin</label>
              </div>

              <div class="form-check form-check-inline mb-0 me-4">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                  value="option2" />
                <label class="form-check-label" for="maleGender">Masculin</label>
              </div>

              <div class="form-check form-check-inline mb-0">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                  value="option3" />
                <label class="form-check-label" for="otherGender">Autre</label>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6 mb-4">

                <select class="select">
                  <option value="1">Pays</option>
                  <option value="2">Option 1</option>
                  <option value="3">Option 2</option>
                  <option value="4">Option 3</option>
                </select>

              </div>
              <div class="col-md-6 mb-4">

                <select class="select">
                  <option value="1">Ville</option>
                  <option value="2">Option 1</option>
                  <option value="3">Option 2</option>
                  <option value="4">Option 3</option>
                </select>

              </div>
            </div>

            <div class="form-outline mb-4">
              <input type="date" id="form3Example9" class="form-control form-control-lg" />
              <label class="form-label" for="form3Example9">Date de Naisssance</label>
            </div>

            <div class="form-outline mb-4">
              <input type="text" id="form3Example90" class="form-control form-control-lg" />
              <label class="form-label" for="form3Example90">Pincode</label>
            </div>

            <div class="form-outline mb-4">
              <input type="text" id="form3Example99" class="form-control form-control-lg" />
              <label class="form-label" for="form3Example99">Course</label>
            </div>

            <div class="form-outline mb-4">
              <input type="text" id="form3Example97" class="form-control form-control-lg" />
              <label class="form-label" for="form3Example97">Email</label>
            </div>

            <div class="d-flex justify-content-end pt-3">
              <button type="button" class="btn btn-light btn-lg">Reset all</button>
              <button type="button" class="btn btn-warning btn-lg ms-2">Submit form</button>
            </div>

          </div>
        </div>
        <div class="col-sm-0 col-md-3"></div>

      </div>

    </div>

  </div>
</div>