
@import '../../../../../../node_modules/intl-tel-input/build/css/intlTelInput.css';













intl-tel-input { width: 100% !important; }


.img-forms{
  background: url('../../../../../assets/images/forms/forms1.jpg');
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  border-bottom-left-radius: 4rem;
  border-top-left-radius: 4rem;
}

.mafroms{
  border: 20px solid #507c1d;

 }
 .maformstext{
  text-shadow: 1px 1px 1px #09977C, 2px 2px 1px #09977C;
 }



.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}



.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=tel]:focus {
  box-shadow: none;
  border:none;
}
input[type=email], input[type=password], input[type=text], input[type=tel] {
  box-shadow: none;
  height: 22px;
  outline: none;
  font-size: 14px;
}


.ngx-file-drop__drop-zone {
  height: 180px;
     border-radius: 5px;
     font-size: 20px;
     object-fit: contain;


 }




 .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }


  .logo{


    border: 20px solid white; 
    border-radius: 70%;
  }

  input[type=email],
  input[type=password],
  input[type=tel],
  input[type=date],
  input[type="text"],select{
    box-shadow: none;
    height: 45px;
    outline: none;
    font-size: 14px;
    border-radius: 0.3em;
    background-color: #f5f5f5;
  }

  input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=date]:focus,
textarea:focus ,select:focus{
    box-shadow: none;
    border: 1px solid #09977C;
    border-radius: 0.3em;
}


textarea {
    box-shadow: none;
    border-radius: 0.3em;
}

.up-btn{
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #09977C; /* Set a background color */
  width: 100%;
  box-shadow: 2px;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 2rem; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}