

#masec{
  background: url('../../../../../assets/images/ma/of.jpg');
  height: 212px;
  padding: 0;
  position: relative;

}


#masi{
  height: 212px;
  position: absolute;
  background-color: rgba(9, 151, 124, 0.5);

}

#masi h1{
  padding-top: 20px;
  color: #fff;
  text-align: center;
}
#masi h3{
  padding-top: 20px;
  color: #fff;
  text-align: center;
}
@media (max-width: 768px) {
  #masi{
    height: 242px;
  }
  #masec{
    height: 242px;
  }
  #masi h3{
    padding: 5px;
  }
}
@media (max-width: 992px) {
  #masi h3{
    padding: 5px;
  }
}



.localisation{
margin: 0;
padding-left: 1rem;
font-size: 16px;
font-weight: 400;
font-style: normal;
font-stretch: normal;
line-height: 1rem;
letter-spacing: .25px;
color: #101d22;
background-position: 0;
background-repeat: no-repeat;
background-size: .5625rem;

font-family: Nunito,sans-serif;
}





.info-offre p{
  background-color: #d2edff !important;
  border-color: #d2edff;
}
.info-offre h3,i{
  color: #09977C;
}
.info-offre h3:hover,i:hover{
  color: #e12454;
}


/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/
.departments {
  overflow: hidden;
}

.departments .nav-tabs {
  border: 0;
}

.departments .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #2c4964;
  border-radius: 0;
  border-right: 2px solid #ebf1f6;
  font-weight: 600;
  font-size: 15px;
}

.departments .nav-link:hover {
  color: #1977cc;
}

.departments .nav-link.active {
  color: #1977cc;
  border-color: #1977cc;
}

.departments .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.departments .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2c4964;
}

.departments .details p {
  color: #777777;
}

.departments .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .departments .nav-link {
    border: 0;
    padding: 15px;
  }

  .departments .nav-link.active {
    color: #fff;
    background: #1977cc;
  }
}


/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctors {
  background: #fff;
}

.doctors .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
  padding: 30px;
  border-radius: 10px;
}

.doctors .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.doctors .member .pic img {
  transition: ease-in-out 0.3s;
}

.doctors .member:hover img {
  transform: scale(1.1);
}

.doctors .member .member-info {
  padding-left: 30px;
}

.doctors .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #2c4964;
}

.doctors .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.doctors .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
}

.doctors .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.doctors .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}



.doctors .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}

.doctors .member .social a:hover {
  background: #e12454;
}

.doctors .member .social a+a {
  margin-left: 8px;
}


.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #09977C;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #09977C;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

.quest{
   font-size: 76px;
   color: #e12454;
}


#matt
{
  background: url("../../../../../assets/images/ma/stage2.jpg");
  margin-bottom: 50px;
  border-radius: 2rem;
  height: 40rem;
  background-size: cover;
  object-fit: cover;



}

@media (max-width: 480px) {
  #matt
  {

    height: 50rem;
  }
}

.subtitleta{
  text-align: right;
  color: #fff;
}



.model-title{
  font-size: 32px;
  color: #fff;
  text-align: center;
}
.subtitleta{
  color: #09977C;
  font-size: 26px;

}
#matt h2{
  color: #09977C;

}


.up-btn{
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #09977C; /* Set a background color */
  width: 100%;
  box-shadow: 2px;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 2rem; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}


#example-search-input4:focus{
  border-radius: 4rem;
  border-bottom: 4px solid #e12454;
  border-color: #e12454;
}


.feature-item {
  background-color: #09977C;
  color: #fff;
  border: 2px solid #fff;
}


.feature-item i,h4{


  color: #fff;

}



















.hover-2 {
  --c: #1095c1; /* the color */
  --b: .1em;    /* border length*/
  --d: 20px;    /* the cube depth */

  --_s: calc(var(--d) + var(--b));

  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background:
    conic-gradient(at left var(--d)  bottom var(--d),
      #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at left var(--_s) bottom var(--_s),
      #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
  transform: translate(calc(var(--d)/-1),var(--d));
  clip-path:
    polygon(
     var(--d) 0%,
     var(--d) 0%,
     100% 0%,
     100% calc(100% - var(--d)),
     100% calc(100% - var(--d)),
     var(--d) calc(100% - var(--d))
    );
  transition: 0.5s;
}
.hover-2:hover {




  transform: translate(0,0);
  clip-path:
    polygon(
     0% var(--d),
     var(--d) 0%,
     100% 0%,
     100% calc(100% - var(--d)),
     calc(100% - var(--d)) 100%,
     0% 100%
   );
}



.feature-item:hover {
  background-color:#e12454;



  --c: #1095c1; /* the color */
  --b: .1em;    /* border length*/







  --d: 20px;    /* the cube depth */

  --_s: calc(var(--d) + var(--b));

  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);

  transform: translate(calc(var(--d)/-1),var(--d));

  transition: 0.5s;

}
