<div class="divcomp">
  <div

  class="btn-group  col-12 txtitre" >
    <a     data-toggle="collapse"
    data-target="#qualite"
    aria-expanded="false"
    aria-controls="profil"
     class="btn text-start"><h4>Qualite</h4></a>
    <a
    data-toggle="collapse"
    data-target="#qualite"
    aria-expanded="false"
    aria-controls="profil"  class="btn text-end"><i class="fa-regular fa-plus fa-6x btn" style="border: 2px solid #000; font-size: 15px;"></i></a>
  </div>



<div class="container px-5 collapse " id="qualite">
  <div>
    <!-- <form #f="ngForm" (ngSubmit)="save(f.value)"> -->
    <div class="form-group">
      <label for="posteproun">qualite</label>
      <input
        #posteproun="ngModel"
        [(ngModel)]="cv.qualite.qualite"
        name="posteproun"
        id="posteproun"
        type="text"
        class="form-control"
        (input)="launchValue()" cols="30" rows="5" class="summernote form-control"
      />


    </div>



  </div>

  <button (click)="increment();addQuantity()" class="btn btn-plus " style="border: 1px solid #000;"><i class="fa-regular fa-plus h-6" ></i>Ajouter une qualité</button>
  <!-- <button (click)="decrement()">SUB</button> -->



  <div class="" *ngFor="let quantity of quantities().controls; let i=index" >

    <div>
      <!-- <form #f="ngForm" (ngSubmit)="save(f.value)"> -->
      <div class="form-group">
        <label for="posteproun">langue</label>
        <input
          
          name="posteproun"
          id="posteproun"
          type="text"
          class="form-control"
          (input)="launchValue()" cols="30" rows="5" class="summernote form-control"
        />


      </div>



    </div>

    <i (click)="removeQuantity(i)" class="fa-solid fa-trash-can" style="font-size: 33px; padding: 2px; color: #09977C; border: 1px solid gainsboro;"></i>

</div>




  <br />
</div>
</div>

