<div class="divcomp">
  <div

  class="btn-group  col-12 txtitre" >
    <a     data-toggle="collapse"
    data-target="#langue"
    aria-expanded="false"
    aria-controls="profil"
     class="btn text-start"><h4>Langues</h4></a>
    <a
    data-toggle="collapse"
    data-target="#langue"
    aria-expanded="false"
    aria-controls="profil"  class="btn text-end"><i class="fa-regular fa-plus fa-6x btn" style="border: 2px solid #000; font-size: 15px;"></i></a>
  </div>



<div class="container px-5 collapse " id="langue">
      <div class="example-form" [formGroup]="userForm">
         
          <div class="address-container" *ngFor="let group of addressArray.controls; let i = index;" formArrayName="address">
            <div class="form-group " [formGroupName]='i'>
              <div class="form-group">
                <label for="posteproun">langue</label>
                <input
                (input)="onSubOne($event)"
                  id="posteproun"
                  type="text"
                  class="form-control"
                  formControlName="langue"
                  cols="30" rows="5" class="summernote form-control"
                />
                <input
                (input)="onSubOne($event)"
                  id="posteproun"
                  type="text"
                  class="form-control"
                  formControlName="niveau"
                  cols="30" rows="5" class="summernote form-control"
                />
              </div>
             
              <i  *ngIf="i>0"  (click)="removeAddress(i)" class="fa-solid fa-trash-can" style="font-size: 33px; padding: 2px; color: #09977C; border: 1px solid gainsboro;"></i>
             
            
            </div>
          </div>
          <div class="form-row org-desc-parent-margin">
            <button (click)="addAddress();" class="btn btn-plus " style="border: 1px solid #000;"><i class="fa-regular fa-plus h-6" ></i>Ajouter une langue</button>
           
           
          </div>
          <button (click)="onSub()">manes</button>
        </div>

</div>
</div>
