<div class="divdes">
  <div
  class="btn-group  col-12 txtitre" >
    <a    data-toggle="collapse"
    data-target="#baspage"
    aria-expanded="false"
    aria-controls="baspage"
     class="btn text-start"><h4>Bas de page</h4></a>
    <a
    data-toggle="collapse"
    data-target="#baspage"
    aria-expanded="false"
    aria-controls="baspage"  class="btn text-end"><i class="fa-regular fa-plus fa-6x btn" style="border: 2px solid #000; font-size: 15px;"></i></a>
  </div>
  <div class="container px-5 collapse col-12" id="baspage">
    <div class="form-group row">
      <label for="titrebaspage">Description</label>

      <textarea  #titrebaspage="ngModel"
      [(ngModel)]="cv.baspage.contenue"
      name="titrebaspage"
      id="titrebaspage"
      type="text"
      placeholder=""
      class="form-control"
      (input)="launchValue()" id="" cols="30" rows="5" class="summernote form-control">

      </textarea>
    </div>
   </div>

  </div>
